In [1]:
import pandas as pd

In [2]:
# leitura do df

#gas = pd.read_table('2004-2021.tsv') - Original do Kaggle
#gas.head()

gas = pd.read_csv("dados/GasPricesinBrazil_2004-2019.csv", delimiter=";")
gas.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [3]:
# Informações gerais sobre o df
gas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     106823 non-null  int64
 1   DATA INICIAL                   106823 non-null  object
 2   DATA FINAL                     106823 non-null  object
 3   REGIÃO                         106823 non-null  object
 4   ESTADO                         106823 non-null  object
 5   PRODUTO                        106823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 7   UNIDADE DE MEDIDA              106823 non-null  object
 8   PREÇO MÉDIO REVENDA            106823 non-null  float64
 9   DESVIO PADRÃO REVENDA          106823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           106823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 12  MARGEM MÉDIA REVENDA           106823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 19  MÊS                            106823 non-null  int64
 20  ANO                            106823 non-null  int64
dtypes: float64(5), int64(4), object(12)
memory usage: 17.1+ MB

In [4]:
gas.shape

(106823, 21)

In [5]:
# Retorna uma lista com todos os nomes das colunas
gas.columns

Index(['Unnamed: 0', 'DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO',
       'PRODUTO', 'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO', 'MÊS',
       'ANO'],
      dtype='object')

#### Renomear as colunas do dataframe
podemos usar o ```df.rename()``` e passar um dicionario com a chave sendo o nome da coluna e o valor o novo nome
para alterar o df original é só colocar o ```inplace = True```

```personagens.rename(columns={"nome":"Nome completo"})```

Uma outra forma de renomeaar todas as colunas de um data frame é pra passar uma lista com os novos nomes das colunas para o atributo 

```personagens.columns = ['NOME', 'IDADE', 'PESO', 'EH_JEDI']```

#### Series

In [6]:
gas.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [7]:
# Selecionando uma coluna inteira
gas['ESTADO']

0            DISTRITO FEDERAL
1                       GOIAS
2                 MATO GROSSO
3          MATO GROSSO DO SUL
4                     ALAGOAS
                 ...
106818    RIO GRANDE DO NORTE
106819      RIO GRANDE DO SUL
106820         SANTA CATARINA
106821              SAO PAULO
106822                SERGIPE
Name: ESTADO, Length: 106823, dtype: object

In [8]:
type(gas['ESTADO'])

pandas.core.series.Series

In [9]:
# selecionando a observação indexada no indice [1] do df
gas.iloc[1]

Unnamed: 0                                      1
DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                               CENTRO OESTE
ESTADO                                      GOIAS
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  387
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.162
DESVIO PADRÃO REVENDA                       0.114
PREÇO MÍNIMO REVENDA                         0.89
PREÇO MÁXIMO REVENDA                        1.449
MARGEM MÉDIA REVENDA                        0.399
COEF DE VARIAÇÃO REVENDA                    0.098
PREÇO MÉDIO DISTRIBUIÇÃO                    0.763
DESVIO PADRÃO DISTRIBUIÇÃO                  0.088
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.5013
PREÇO MÁXIMO DISTRIBUIÇÃO                    1.05
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.115
MÊS                                             5
ANO                                          2004
Name: 1, dtype: object

#### Atribuindo dados

In [10]:
gas.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

#### Atribuindo constantes/valores

In [11]:
gas['PRODUTO'] # A series retornada à coluna, NÃO É UMA COPIA, mas sim, uma REFERÊNCIA/VIEW à coluna do dataframe

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
106818                 GNV
106819                 GNV
106820                 GNV
106821                 GNV
106822                 GNV
Name: PRODUTO, Length: 106823, dtype: object

In [12]:
produto_view = gas['PRODUTO']
produto_view

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
106818                 GNV
106819                 GNV
106820                 GNV
106821                 GNV
106822                 GNV
Name: PRODUTO, Length: 106823, dtype: object

In [13]:
produto_copy_bkp = gas['PRODUTO'].copy() # retorna uma copia 'PRODUTO'
produto_copy_bkp

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
106818                 GNV
106819                 GNV
106820                 GNV
106821                 GNV
106822                 GNV
Name: PRODUTO, Length: 106823, dtype: object

In [14]:
# 
gas['PRODUTO'] = 'Combustível'
gas.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,Combustível,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,Combustível,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,Combustível,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,Combustível,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,Combustível,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [15]:
produto_view

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
106818                 GNV
106819                 GNV
106820                 GNV
106821                 GNV
106822                 GNV
Name: PRODUTO, Length: 106823, dtype: object

In [16]:
nrows, ncols = gas.shape
nrows, ncols

(106823, 21)

In [17]:
novos_produtos = [f'Produto {i}' for i in range(nrows)]
len(novos_produtos)

106823

In [18]:
# A quantidade de elementos da lista 'novos_produtos' é igual ao número de linhas do dataframe 
gas['PRODUTO'] = novos_produtos

In [19]:
gas.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,Produto 0,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,Produto 1,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,Produto 2,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,Produto 3,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,Produto 4,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [20]:
produto_view
print("\n")
produto_copy_bkp

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
106818                 GNV
106819                 GNV
106820                 GNV
106821                 GNV
106822                 GNV
Name: PRODUTO, Length: 106823, dtype: object

In [21]:
# Voltando para os produtos originais 
gas['PRODUTO'] = produto_copy_bkp
gas.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

#### COLUNAS

Para criar uma nova coluna em um data frame, basta atribuirmos uma_lista/series de valores pu uma constante a uma **nova chave** do data frame.

PS. A Quantidade de valores da lista precisa ser igual ao número de linhas/registros do data frame.

In [22]:
# Criando uma coluna a partir de um valor constante/default
# todas as linhas terão o mesmo valor para esta nova coluna 
gas['coluna sem noção'] = "DEFAULT"
gas

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem noção
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004,DEFAULT
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004,DEFAULT
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004,DEFAULT
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004,DEFAULT
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004,DEFAULT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,0.818,0.018,2.756,0,2.756,2.756,0,6,2019,DEFAULT
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019,DEFAULT
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019,DEFAULT
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019,DEFAULT
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019,DEFAULT

In [23]:
gas['coluna a partir de lista'] = range(gas.shape[0])
gas

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem noção,coluna a partir de lista
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004,DEFAULT,0
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004,DEFAULT,1
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004,DEFAULT,2
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004,DEFAULT,3
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004,DEFAULT,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,0.018,2.756,0,2.756,2.756,0,6,2019,DEFAULT,106818
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019,DEFAULT,106819
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,0.065,1.998,0,1.9981,1.9981,0,6,2019,DEFAULT,106820
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019,DEFAULT,106821
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,0.001,2.518,0,2.5175,2.5175,0,6,2019,DEFAULT,106822

In [24]:
# Lembre: A QUANTIDADE DE ELEMENTOS TEM QUE SER DO TAMANHO DO DF 
#gas['não funciona'] = [1,2,3]

In [25]:
gas['PREÇO MÉDIO REVENDA (dólares)'] = gas['PREÇO MÉDIO REVENDA'] * 6.0
gas

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem noção,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,DEFAULT,0,7.728
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5,2004,DEFAULT,1,6.972
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,0.97,0.095,0.5614,1.161,0.098,5,2004,DEFAULT,2,8.334
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,0.83,0.119,0.5991,1.22242,0.143,5,2004,DEFAULT,3,7.572
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,0.941,0.077,0.7441,1.0317,0.082,5,2004,DEFAULT,4,7.086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,2.756,0,2.756,2.756,0,6,2019,DEFAULT,106818,21.444
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,2.451,0.402,1.9842,2.8661,0.164,6,2019,DEFAULT,106819,20.406
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,1.998,0,1.9981,1.9981,0,6,2019,DEFAULT,106820,17.472
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,2.374,0.165,2.0179,2.5093,0.07,6,2019,DEFAULT,106821,18.120
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,2.518,0,2.5175,2.5175,0,6,2019,DEFAULT,106822,22.182

PS. Obviamente, a lógica correta em converter o preço dos combustiveis em reais para dólares não é considerar uma txa de câmbio fixa, uma vez que cada preço em real foi aferido em um momento diferente.

#### ÍNDICES - ACESSO A ELEMENTOS DO DF

In [26]:
gas.index

RangeIndex(start=0, stop=106823, step=1)

Use ```list(data.index)``` ou ```data.index.to_list()``` para converter um Rangeindex para uma python list.

#### Exemplo de Data Frame com índices textuais (labels)

In [27]:
pesquisa_de_satisfação = pd.DataFrame({
    "bom": [50, 21, 100],
    'ruim': [131, 2, 30],
    'pessimo': [30, 20, 1]
}, index=["XboxOne", 'Playstation4', 'Switch'])

In [28]:
pesquisa_de_satisfação.head()

              bom  ruim  pessimo
XboxOne        50   131       30
Playstation4   21     2       20
Switch        100    30        1

In [29]:
pesquisa_de_satisfação.index

Index(['XboxOne', 'Playstation4', 'Switch'], dtype='object')

#### Selecionando uma ou mais amostras (indexação)

Index-based selection (seleção baseada em índices)

Mostrando linhas especificass de um Data Frame:

```iloc```: seleciona elementos do dataframe, baseado em seu **índice(número)** --> row-first, column-second

In [30]:
# Selecionando uma amostra/linha 
gas.iloc[1]

Unnamed: 0                                      1
DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                               CENTRO OESTE
ESTADO                                      GOIAS
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  387
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.162
DESVIO PADRÃO REVENDA                       0.114
PREÇO MÍNIMO REVENDA                         0.89
PREÇO MÁXIMO REVENDA                        1.449
MARGEM MÉDIA REVENDA                        0.399
COEF DE VARIAÇÃO REVENDA                    0.098
PREÇO MÉDIO DISTRIBUIÇÃO                    0.763
DESVIO PADRÃO DISTRIBUIÇÃO                  0.088
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.5013
PREÇO MÁXIMO DISTRIBUIÇÃO                    1.05
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.115
MÊS                                             5
ANO                                          2004
coluna sem noção                          DEFAULT
coluna a partir de lista                        1
PREÇO MÉDIO REVENDA (dólares)               6.972
Name: 1, dtype: object

In [31]:
# Selecionando multiplas observações 
gas.iloc[:6]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem noção,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,DEFAULT,0,7.728
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5,2004,DEFAULT,1,6.972
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,0.97,0.095,0.5614,1.161,0.098,5,2004,DEFAULT,2,8.334
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,0.83,0.119,0.5991,1.22242,0.143,5,2004,DEFAULT,3,7.572
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,0.941,0.077,0.7441,1.0317,0.082,5,2004,DEFAULT,4,7.086
5,5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,...,0.957,0.128,0.5686,1.35,0.134,5,2004,DEFAULT,5,8.298

In [32]:
# Selecionando as linhas de indice de 10 a 15 (incluso)
gas.iloc[10:16]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem noção,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
10,10,2004-05-09,2004-05-15,NORDESTE,PIAUI,ETANOL HIDRATADO,89,R$/l,1.573,0.134,...,1.079,0.078,0.8857,1.2499,0.072,5,2004,DEFAULT,10,9.438
11,11,2004-05-09,2004-05-15,NORDESTE,RIO GRANDE DO NORTE,ETANOL HIDRATADO,131,R$/l,1.276,0.116,...,0.944,0.078,0.7119,1.1386,0.083,5,2004,DEFAULT,11,7.656
12,12,2004-05-09,2004-05-15,NORDESTE,SERGIPE,ETANOL HIDRATADO,57,R$/l,1.301,0.109,...,0.98,0.052,0.8267,1.1059,0.053,5,2004,DEFAULT,12,7.806
13,13,2004-05-09,2004-05-15,NORTE,ACRE,ETANOL HIDRATADO,33,R$/l,1.805,0.134,...,1.116,0.171,0.767,1.2992,0.153,5,2004,DEFAULT,13,10.830
14,14,2004-05-09,2004-05-15,NORTE,AMAPA,ETANOL HIDRATADO,15,R$/l,1.785,0.035,...,1.373,0.167,0.8339,1.4912,0.122,5,2004,DEFAULT,14,10.710
15,15,2004-05-09,2004-05-15,NORTE,AMAZONAS,ETANOL HIDRATADO,53,R$/l,1.578,0.123,...,1.137,0.068,0.9515,1.2109,0.06,5,2004,DEFAULT,15,9.468

In [33]:
# selecionando as linhas de indice 1, 5, 10, 15
gas.iloc[[1, 5, 10, 15]]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem noção,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5,2004,DEFAULT,1,6.972
5,5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,...,0.957,0.128,0.5686,1.35,0.134,5,2004,DEFAULT,5,8.298
10,10,2004-05-09,2004-05-15,NORDESTE,PIAUI,ETANOL HIDRATADO,89,R$/l,1.573,0.134,...,1.079,0.078,0.8857,1.2499,0.072,5,2004,DEFAULT,10,9.438
15,15,2004-05-09,2004-05-15,NORTE,AMAZONAS,ETANOL HIDRATADO,53,R$/l,1.578,0.123,...,1.137,0.068,0.9515,1.2109,0.06,5,2004,DEFAULT,15,9.468

In [34]:
# Selecionando as linhas observações de indices 5, 1, 15, 10
gas.iloc[[5, 1, 15, 10]]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem noção,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
5,5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,...,0.957,0.128,0.5686,1.35,0.134,5,2004,DEFAULT,5,8.298
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5,2004,DEFAULT,1,6.972
15,15,2004-05-09,2004-05-15,NORTE,AMAZONAS,ETANOL HIDRATADO,53,R$/l,1.578,0.123,...,1.137,0.068,0.9515,1.2109,0.06,5,2004,DEFAULT,15,9.468
10,10,2004-05-09,2004-05-15,NORDESTE,PIAUI,ETANOL HIDRATADO,89,R$/l,1.573,0.134,...,1.079,0.078,0.8857,1.2499,0.072,5,2004,DEFAULT,10,9.438

In [35]:
# Retornar o valor da linha de indice 1, coluna 4 ['ESTADO']
gas.iloc[1,4]

'GOIAS'

#### Label-based selection (seleção baseadas em Rótulos)

```loc```: seleciona elementos do Dataframe, baseado em seus rótulos --> row-first, column-second

Este método é primariamente baseado nas labels da colunas, porém podemos utilizar com um array booleano também.

Uma informação importante sobre loc é: quando nenhum item é encontrado ele retorna um KeyError.

Funcionamento do método:

O método funciona desta maneira: ```df.loc[<linhas>, <colunas>]```

In [36]:
pesquisa_de_satisfação

              bom  ruim  pessimo
XboxOne        50   131       30
Playstation4   21     2       20
Switch        100    30        1

In [37]:
# retorna a linha de indice 0 (implicito) == usando o iloc
pesquisa_de_satisfação.iloc[0]

bom         50
ruim       131
pessimo     30
Name: XboxOne, dtype: int64

In [38]:
# Retorna a linha cujo o rotulo do indice é XboxOne
pesquisa_de_satisfação.loc['XboxOne']

bom         50
ruim       131
pessimo     30
Name: XboxOne, dtype: int64

In [39]:
# Acessar uma determinada especificação 
pesquisa_de_satisfação.loc["Playstation4", "ruim"]

2

In [40]:
pesquisa_de_satisfação.loc[['XboxOne', 'Switch']]

         bom  ruim  pessimo
XboxOne   50   131       30
Switch   100    30        1

In [41]:
# Retorne todas as linhas e apenas as colunas com rotulos 'bom' e 'pessimo'

#pesquisa_de_satisfação[["bom", 'pessimo']]

pesquisa_de_satisfação.loc[:,['bom', 'pessimo']]

              bom  pessimo
XboxOne        50       30
Playstation4   21       20
Switch        100        1

In [42]:
# Lembrar da regra da loc[linha, coluna]
gas.loc[[1,2], ['PRODUTO', "PREÇO MÉDIO REVENDA"]]

            PRODUTO  PREÇO MÉDIO REVENDA
1  ETANOL HIDRATADO                1.162
2  ETANOL HIDRATADO                1.389

In [43]:
# Podemos combinar operadores lógicos para chegar ao resultado que queremos
gas.loc[(gas["PREÇO MÉDIO REVENDA"]) > 2]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem noção,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
770,770,2004-11-21,2004-11-27,NORTE,AMAPA,ETANOL HIDRATADO,11,R$/l,2.004,0.073,...,1.691,0.194,1.2982,1.8891,0.115,11,2004,DEFAULT,770,12.024
772,772,2004-11-21,2004-11-27,NORTE,PARA,ETANOL HIDRATADO,98,R$/l,2.011,0.171,...,1.709,0.194,0.9826,2.0852,0.114,11,2004,DEFAULT,772,12.066
774,774,2004-11-21,2004-11-27,NORTE,RORAIMA,ETANOL HIDRATADO,14,R$/l,2.027,0.133,...,1.545,0.144,1.3805,1.8446,0.093,11,2004,DEFAULT,774,12.162
797,797,2004-11-28,2004-12-04,NORTE,AMAPA,ETANOL HIDRATADO,12,R$/l,2.154,0.101,...,1.691,0.194,1.2982,1.889,0.115,11,2004,DEFAULT,797,12.924
799,799,2004-11-28,2004-12-04,NORTE,PARA,ETANOL HIDRATADO,114,R$/l,2.032,0.152,...,1.719,0.164,1.0832,1.9841,0.095,11,2004,DEFAULT,799,12.192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,2.756,0,2.756,2.756,0,6,2019,DEFAULT,106818,21.444
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,2.451,0.402,1.9842,2.8661,0.164,6,2019,DEFAULT,106819,20.406
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,1.998,0,1.9981,1.9981,0,6,2019,DEFAULT,106820,17.472
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,2.374,0.165,2.0179,2.5093,0.07,6,2019,DEFAULT,106821,18.120
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,2.518,0,2.5175,2.5175,0,6,2019,DEFAULT,106822,22.182

#### Selecionando um ou mais atributos(colunas)

In [44]:
gas.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem noção,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,DEFAULT,0,7.728
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5,2004,DEFAULT,1,6.972
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,0.97,0.095,0.5614,1.161,0.098,5,2004,DEFAULT,2,8.334
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,0.83,0.119,0.5991,1.22242,0.143,5,2004,DEFAULT,3,7.572
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,0.941,0.077,0.7441,1.0317,0.082,5,2004,DEFAULT,4,7.086

In [45]:
# Retornando a coluna/atributo "ESTADO"
gas['ESTADO']

0            DISTRITO FEDERAL
1                       GOIAS
2                 MATO GROSSO
3          MATO GROSSO DO SUL
4                     ALAGOAS
                 ...
106818    RIO GRANDE DO NORTE
106819      RIO GRANDE DO SUL
106820         SANTA CATARINA
106821              SAO PAULO
106822                SERGIPE
Name: ESTADO, Length: 106823, dtype: object

In [46]:
gas.loc[:, 'ESTADO'].unique()

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

#### Removendo Atributos (colunas) do Data Frame

In [47]:
# Deleta/Remove no propio df (inplace)
del gas["Unnamed: 0"]

In [48]:
gas.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem noção,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,DEFAULT,0,7.728
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.763,0.088,0.5013,1.05,0.115,5,2004,DEFAULT,1,6.972
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.97,0.095,0.5614,1.161,0.098,5,2004,DEFAULT,2,8.334
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,...,0.83,0.119,0.5991,1.22242,0.143,5,2004,DEFAULT,3,7.572
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,...,0.941,0.077,0.7441,1.0317,0.082,5,2004,DEFAULT,4,7.086

#### Salvando um Data Frame

Para salvarmos um Data Frame para um arquivo csv basta usarmos o método ```to_csv```. Por padrão, esse método salva os índices da tabela como uma coluna no csv.
Como no geral tais índices são números de o a n-1. Não há necessidade para isso (veja que removemos anteriormente a coluna que tinha isto).
Desta forma, utilize o parâmetro: ```index=False.```.

Por padrão, o método utilizará a "," como separador de colunas. Caso queira alterá-lo, utilize o parâmetro ```sep```.

In [49]:
gas.to_csv("C:/Users/joaod/OneDrive/Documentos/Projetos/pandas_essencial/Gaspreprocessado.csv", index = False)

#### Seleção Condicional: Filtrando amostras

Durante nossas análises exploratórias, frequentemente filtraremos nossas amostras, a partir de certas **condições**, para fins de anáslise mais especifica. Existem algumas maneiras de fazermos tal filtragem. Antes disso, vamos carregar nosso pré-processado que salvamos no item anterior.

In [50]:
datagas = pd.read_csv('C:/Users/joaod/OneDrive/Documentos/Projetos/pandas_essencial/Gaspreprocessado.csv')

In [51]:
datagas.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem noção,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,DEFAULT,0,7.728
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.763,0.088,0.5013,1.05,0.115,5,2004,DEFAULT,1,6.972
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.97,0.095,0.5614,1.161,0.098,5,2004,DEFAULT,2,8.334
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,...,0.83,0.119,0.5991,1.22242,0.143,5,2004,DEFAULT,3,7.572
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,...,0.941,0.077,0.7441,1.0317,0.082,5,2004,DEFAULT,4,7.086

In [52]:
del datagas['coluna sem noção']
del datagas['coluna a partir de lista']
del datagas['PREÇO MÉDIO REVENDA (dólares)']

In [53]:
datagas.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [54]:
# Mostra todos os estados cujos os preços dos combustíveis foram aferidos
# Valores unicos presentes para o atributo estado
datagas['ESTADO'].unique()

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

In [55]:
# series de booleans em uma var
selecaoSP = datagas['ESTADO'] == 'SAO PAULO'
selecaoSP

0         False
1         False
2         False
3         False
4         False
          ...
106818    False
106819    False
106820    False
106821     True
106822    False
Name: ESTADO, Length: 106823, dtype: bool

In [56]:
selecaoCE = datagas['ESTADO'] == 'CEARA'
selecaoCE

0         False
1         False
2         False
3         False
4         False
          ...
106818    False
106819    False
106820    False
106821    False
106822    False
Name: ESTADO, Length: 106823, dtype: bool

In [57]:
datagas[selecaoSP]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5,2004
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087,5,2004
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103,5,2004
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112,5,2004
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106724,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL,863,R$/l,3.448,0.156,3.099,4.220,0.401,0.045,3.047,0.097,2.8599,3.3481,0.032,6,2019
106751,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL S10,1277,R$/l,3.574,0.169,3.199,4.320,0.451,0.047,3.123,0.111,2.885,3.491,0.036,6,2019
106778,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,3.769,4.999,0.429,0.044,3.713,0.097,3.52,4.0892,0.026,6,2019
106805,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GLP,1017,R$/13Kg,66.893,6.100,50.000,89.900,17.679,0.091,49.214,5.071,40.19,72,0.103,6,2019
106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019

In [58]:
datagas[selecaoCE]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.03,1.95,0.353,0.150,1.1,0.068,0.7332,1.294,0.062,5,2004
33,2004-05-16,2004-05-22,NORDESTE,CEARA,ETANOL HIDRATADO,277,R$/l,1.451,0.219,1.03,1.95,0.347,0.151,1.104,0.06,0.92,1.27,0.054,5,2004
60,2004-05-23,2004-05-29,NORDESTE,CEARA,ETANOL HIDRATADO,279,R$/l,1.443,0.212,1.03,1.95,0.33,0.147,1.113,0.065,0.849,1.27,0.058,5,2004
87,2004-05-30,2004-06-05,NORDESTE,CEARA,ETANOL HIDRATADO,269,R$/l,1.442,0.206,1.03,1.95,0.333,0.143,1.109,0.07,0.85727,1.27,0.063,5,2004
114,2004-06-06,2004-06-12,NORDESTE,CEARA,ETANOL HIDRATADO,277,R$/l,1.445,0.198,1.05,1.95,0.322,0.137,1.123,0.082,0.85727,1.3021,0.073,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106705,2019-06-23,2019-06-29,NORDESTE,CEARA,ÓLEO DIESEL,64,R$/l,3.802,0.071,3.64,3.95,0.456,0.019,3.346,0.096,3.16,3.4781,0.029,6,2019
106732,2019-06-23,2019-06-29,NORDESTE,CEARA,ÓLEO DIESEL S10,214,R$/l,3.801,0.085,3.59,3.99,0.428,0.022,3.373,0.087,3.15,3.6134,0.026,6,2019
106759,2019-06-23,2019-06-29,NORDESTE,CEARA,GASOLINA COMUM,221,R$/l,4.461,0.164,4.30,4.87,0.426,0.037,4.035,0.102,3.8754,4.3276,0.025,6,2019
106786,2019-06-23,2019-06-29,NORDESTE,CEARA,GLP,131,R$/13Kg,74.659,4.981,65.00,85.00,21.951,0.067,52.708,1.957,46.97,55,0.037,6,2019
106810,2019-06-23,2019-06-29,NORDESTE,CEARA,GNV,16,R$/m3,3.656,0.034,3.58,3.69,0.876,0.009,2.78,0,2.7802,2.7802,0,6,2019

In [59]:
#Selecionar os dados do estado Ceará
postosCE = datagas.query('ESTADO == "CEARA"')
postosCE

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.03,1.95,0.353,0.150,1.1,0.068,0.7332,1.294,0.062,5,2004
33,2004-05-16,2004-05-22,NORDESTE,CEARA,ETANOL HIDRATADO,277,R$/l,1.451,0.219,1.03,1.95,0.347,0.151,1.104,0.06,0.92,1.27,0.054,5,2004
60,2004-05-23,2004-05-29,NORDESTE,CEARA,ETANOL HIDRATADO,279,R$/l,1.443,0.212,1.03,1.95,0.33,0.147,1.113,0.065,0.849,1.27,0.058,5,2004
87,2004-05-30,2004-06-05,NORDESTE,CEARA,ETANOL HIDRATADO,269,R$/l,1.442,0.206,1.03,1.95,0.333,0.143,1.109,0.07,0.85727,1.27,0.063,5,2004
114,2004-06-06,2004-06-12,NORDESTE,CEARA,ETANOL HIDRATADO,277,R$/l,1.445,0.198,1.05,1.95,0.322,0.137,1.123,0.082,0.85727,1.3021,0.073,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106705,2019-06-23,2019-06-29,NORDESTE,CEARA,ÓLEO DIESEL,64,R$/l,3.802,0.071,3.64,3.95,0.456,0.019,3.346,0.096,3.16,3.4781,0.029,6,2019
106732,2019-06-23,2019-06-29,NORDESTE,CEARA,ÓLEO DIESEL S10,214,R$/l,3.801,0.085,3.59,3.99,0.428,0.022,3.373,0.087,3.15,3.6134,0.026,6,2019
106759,2019-06-23,2019-06-29,NORDESTE,CEARA,GASOLINA COMUM,221,R$/l,4.461,0.164,4.30,4.87,0.426,0.037,4.035,0.102,3.8754,4.3276,0.025,6,2019
106786,2019-06-23,2019-06-29,NORDESTE,CEARA,GLP,131,R$/13Kg,74.659,4.981,65.00,85.00,21.951,0.067,52.708,1.957,46.97,55,0.037,6,2019
106810,2019-06-23,2019-06-29,NORDESTE,CEARA,GNV,16,R$/m3,3.656,0.034,3.58,3.69,0.876,0.009,2.78,0,2.7802,2.7802,0,6,2019

In [60]:
# Resetando os indices do df - drop = True é para os antigos indices não virarem coluna
postosCE.reset_index(drop=True, inplace=True)
postosCE

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.03,1.95,0.353,0.150,1.1,0.068,0.7332,1.294,0.062,5,2004
1,2004-05-16,2004-05-22,NORDESTE,CEARA,ETANOL HIDRATADO,277,R$/l,1.451,0.219,1.03,1.95,0.347,0.151,1.104,0.06,0.92,1.27,0.054,5,2004
2,2004-05-23,2004-05-29,NORDESTE,CEARA,ETANOL HIDRATADO,279,R$/l,1.443,0.212,1.03,1.95,0.33,0.147,1.113,0.065,0.849,1.27,0.058,5,2004
3,2004-05-30,2004-06-05,NORDESTE,CEARA,ETANOL HIDRATADO,269,R$/l,1.442,0.206,1.03,1.95,0.333,0.143,1.109,0.07,0.85727,1.27,0.063,5,2004
4,2004-06-06,2004-06-12,NORDESTE,CEARA,ETANOL HIDRATADO,277,R$/l,1.445,0.198,1.05,1.95,0.322,0.137,1.123,0.082,0.85727,1.3021,0.073,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4258,2019-06-23,2019-06-29,NORDESTE,CEARA,ÓLEO DIESEL,64,R$/l,3.802,0.071,3.64,3.95,0.456,0.019,3.346,0.096,3.16,3.4781,0.029,6,2019
4259,2019-06-23,2019-06-29,NORDESTE,CEARA,ÓLEO DIESEL S10,214,R$/l,3.801,0.085,3.59,3.99,0.428,0.022,3.373,0.087,3.15,3.6134,0.026,6,2019
4260,2019-06-23,2019-06-29,NORDESTE,CEARA,GASOLINA COMUM,221,R$/l,4.461,0.164,4.30,4.87,0.426,0.037,4.035,0.102,3.8754,4.3276,0.025,6,2019
4261,2019-06-23,2019-06-29,NORDESTE,CEARA,GLP,131,R$/13Kg,74.659,4.981,65.00,85.00,21.951,0.067,52.708,1.957,46.97,55,0.037,6,2019
4262,2019-06-23,2019-06-29,NORDESTE,CEARA,GNV,16,R$/m3,3.656,0.034,3.58,3.69,0.876,0.009,2.78,0,2.7802,2.7802,0,6,2019

In [61]:
#tambem pode ser feito assim 
postosCE = datagas.query('ESTADO == "CEARA"').reset_index(drop=True)
postosCE

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.03,1.95,0.353,0.150,1.1,0.068,0.7332,1.294,0.062,5,2004
1,2004-05-16,2004-05-22,NORDESTE,CEARA,ETANOL HIDRATADO,277,R$/l,1.451,0.219,1.03,1.95,0.347,0.151,1.104,0.06,0.92,1.27,0.054,5,2004
2,2004-05-23,2004-05-29,NORDESTE,CEARA,ETANOL HIDRATADO,279,R$/l,1.443,0.212,1.03,1.95,0.33,0.147,1.113,0.065,0.849,1.27,0.058,5,2004
3,2004-05-30,2004-06-05,NORDESTE,CEARA,ETANOL HIDRATADO,269,R$/l,1.442,0.206,1.03,1.95,0.333,0.143,1.109,0.07,0.85727,1.27,0.063,5,2004
4,2004-06-06,2004-06-12,NORDESTE,CEARA,ETANOL HIDRATADO,277,R$/l,1.445,0.198,1.05,1.95,0.322,0.137,1.123,0.082,0.85727,1.3021,0.073,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4258,2019-06-23,2019-06-29,NORDESTE,CEARA,ÓLEO DIESEL,64,R$/l,3.802,0.071,3.64,3.95,0.456,0.019,3.346,0.096,3.16,3.4781,0.029,6,2019
4259,2019-06-23,2019-06-29,NORDESTE,CEARA,ÓLEO DIESEL S10,214,R$/l,3.801,0.085,3.59,3.99,0.428,0.022,3.373,0.087,3.15,3.6134,0.026,6,2019
4260,2019-06-23,2019-06-29,NORDESTE,CEARA,GASOLINA COMUM,221,R$/l,4.461,0.164,4.30,4.87,0.426,0.037,4.035,0.102,3.8754,4.3276,0.025,6,2019
4261,2019-06-23,2019-06-29,NORDESTE,CEARA,GLP,131,R$/13Kg,74.659,4.981,65.00,85.00,21.951,0.067,52.708,1.957,46.97,55,0.037,6,2019
4262,2019-06-23,2019-06-29,NORDESTE,CEARA,GNV,16,R$/m3,3.656,0.034,3.58,3.69,0.876,0.009,2.78,0,2.7802,2.7802,0,6,2019

In [62]:

p2 = postosCE['PREÇO MÉDIO REVENDA'] > 2.0

In [63]:
postosCE[p2]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
99,2006-04-16,2006-04-22,NORDESTE,CEARA,ETANOL HIDRATADO,264,R$/l,2.019,0.101,1.849,2.399,0.199,0.050,1.82,0.118,1.4448,2.02,0.065,4,2006
100,2006-04-23,2006-04-29,NORDESTE,CEARA,ETANOL HIDRATADO,259,R$/l,2.053,0.099,1.850,2.399,0.202,0.048,1.851,0.112,1.4448,2.02,0.061,4,2006
101,2006-04-30,2006-05-06,NORDESTE,CEARA,ETANOL HIDRATADO,264,R$/l,2.076,0.098,1.820,2.399,0.188,0.047,1.888,0.114,1.4447,2.02,0.06,4,2006
102,2006-05-07,2006-05-13,NORDESTE,CEARA,ETANOL HIDRATADO,259,R$/l,2.072,0.098,1.890,2.399,0.18,0.047,1.892,0.107,1.54,2.0384,0.057,5,2006
103,2006-05-14,2006-05-20,NORDESTE,CEARA,ETANOL HIDRATADO,256,R$/l,2.055,0.105,1.850,2.399,0.182,0.051,1.873,0.1,1.5438,2.0406,0.053,5,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4258,2019-06-23,2019-06-29,NORDESTE,CEARA,ÓLEO DIESEL,64,R$/l,3.802,0.071,3.640,3.950,0.456,0.019,3.346,0.096,3.16,3.4781,0.029,6,2019
4259,2019-06-23,2019-06-29,NORDESTE,CEARA,ÓLEO DIESEL S10,214,R$/l,3.801,0.085,3.590,3.990,0.428,0.022,3.373,0.087,3.15,3.6134,0.026,6,2019
4260,2019-06-23,2019-06-29,NORDESTE,CEARA,GASOLINA COMUM,221,R$/l,4.461,0.164,4.300,4.870,0.426,0.037,4.035,0.102,3.8754,4.3276,0.025,6,2019
4261,2019-06-23,2019-06-29,NORDESTE,CEARA,GLP,131,R$/13Kg,74.659,4.981,65.000,85.000,21.951,0.067,52.708,1.957,46.97,55,0.037,6,2019
4262,2019-06-23,2019-06-29,NORDESTE,CEARA,GNV,16,R$/m3,3.656,0.034,3.580,3.690,0.876,0.009,2.78,0,2.7802,2.7802,0,6,2019

#### Selecionando regitros de postos de São Paulo ou Ceará com gasolina comum

In [64]:
datagas.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [65]:
#selecionando os dados dos estados de SP e CE
selecaoCESP = (datagas['ESTADO'] == 'SAO PAULO') | (datagas['ESTADO'] == 'CEARA')

In [66]:
datagas[selecaoCESP]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.030,1.950,0.353,0.150,1.1,0.068,0.7332,1.294,0.062,5,2004
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5,2004
33,2004-05-16,2004-05-22,NORDESTE,CEARA,ETANOL HIDRATADO,277,R$/l,1.451,0.219,1.030,1.950,0.347,0.151,1.104,0.06,0.92,1.27,0.054,5,2004
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087,5,2004
60,2004-05-23,2004-05-29,NORDESTE,CEARA,ETANOL HIDRATADO,279,R$/l,1.443,0.212,1.030,1.950,0.33,0.147,1.113,0.065,0.849,1.27,0.058,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106778,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,3.769,4.999,0.429,0.044,3.713,0.097,3.52,4.0892,0.026,6,2019
106786,2019-06-23,2019-06-29,NORDESTE,CEARA,GLP,131,R$/13Kg,74.659,4.981,65.000,85.000,21.951,0.067,52.708,1.957,46.97,55,0.037,6,2019
106805,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GLP,1017,R$/13Kg,66.893,6.100,50.000,89.900,17.679,0.091,49.214,5.071,40.19,72,0.103,6,2019
106810,2019-06-23,2019-06-29,NORDESTE,CEARA,GNV,16,R$/m3,3.656,0.034,3.580,3.690,0.876,0.009,2.78,0,2.7802,2.7802,0,6,2019
106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019

In [67]:
#selecionando o produto como gasolina comum
selecaoCESP2 = datagas['PRODUTO'] == 'GASOLINA COMUM'

In [68]:
datagas[selecaoCESP2]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,5,2004
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,5,2004
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,5,2004
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,5,2004
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106776,2019-06-23,2019-06-29,NORTE,RORAIMA,GASOLINA COMUM,13,R$/l,4.156,0.010,4.140,4.170,0.444,0.002,3.712,0.06,3.6469,3.825,0.016,6,2019
106777,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GASOLINA COMUM,252,R$/l,4.087,0.173,3.770,4.698,0.303,0.042,3.784,0.083,3.59,3.998,0.022,6,2019
106778,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,3.769,4.999,0.429,0.044,3.713,0.097,3.52,4.0892,0.026,6,2019
106779,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GASOLINA COMUM,43,R$/l,4.400,0.102,4.280,4.799,0.346,0.023,4.054,0.04,4.01,4.1483,0.01,6,2019
106780,2019-06-23,2019-06-29,NORTE,TOCANTINS,GASOLINA COMUM,46,R$/l,4.682,0.197,4.399,5.690,0.642,0.042,4.04,0.051,3.93,4.13,0.013,6,2019

In [69]:
#selecionando os precos de revenda > 2
selecaoCESP3 = (datagas['PREÇO MÉDIO REVENDA'] >2)

In [70]:
# Juntando todas as seleções para formar um df só, com as observações dos estados
# de SP e CE, com GASOLINA COMUM e PREÇO MÉDIO REVENDA > 2

selecaofinal = selecaoCESP & selecaoCESP2 & selecaoCESP3

In [71]:
#Atribuindo as seleções a uma variável
CESP = datagas[selecaofinal]

In [72]:
CESP.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
12070,2004-05-09,2004-05-15,NORDESTE,CEARA,GASOLINA COMUM,321,R$/l,2.148,0.080,1.93,2.34,0.344,0.037,1.804,0.034,1.715,1.937,0.019,5,2004
12097,2004-05-16,2004-05-22,NORDESTE,CEARA,GASOLINA COMUM,321,R$/l,2.147,0.080,1.93,2.34,0.338,0.037,1.809,0.035,1.7281,1.937,0.019,5,2004
12124,2004-05-23,2004-05-29,NORDESTE,CEARA,GASOLINA COMUM,329,R$/l,2.147,0.079,1.93,2.34,0.34,0.037,1.807,0.035,1.695,1.937,0.019,5,2004
12151,2004-05-30,2004-06-05,NORDESTE,CEARA,GASOLINA COMUM,317,R$/l,2.148,0.080,1.93,2.34,0.338,0.037,1.81,0.034,1.695,1.937,0.019,5,2004
12178,2004-06-06,2004-06-12,NORDESTE,CEARA,GASOLINA COMUM,326,R$/l,2.147,0.078,1.93,2.34,0.33,0.036,1.817,0.035,1.7194,1.937,0.019,6,2004

In [73]:
CESP['ESTADO'].unique()

array(['CEARA', 'SAO PAULO'], dtype=object)

#### Selecionando registros dos anos de 2008, 2010 e 2012

In [74]:
#Alternativa1
anos1 = (datagas['ANO'] == 2008) | (datagas['ANO'] == 2010) | (datagas['ANO'] == 2012)

In [75]:
#Alternativa2
lista_anos = [2008, 2010, 2012]

s = datagas['ANO'].isin(lista_anos)
datagas[s]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
5098,2008-01-06,2008-01-12,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,1.806,0.082,1.709,1.950,0.29,0.045,1.516,0.061,1.3892,1.6157,0.04,1,2008
5099,2008-01-06,2008-01-12,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.616,0.100,1.470,1.899,0.293,0.062,1.323,0.05,1.2242,1.6173,0.038,1,2008
5100,2008-01-06,2008-01-12,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,142,R$/l,1.581,0.095,1.390,1.850,0.278,0.060,1.303,0.073,1.14,1.45,0.056,1,2008
5101,2008-01-06,2008-01-12,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,133,R$/l,1.831,0.046,1.680,1.910,0.382,0.025,1.449,0.044,1.3247,1.5514,0.03,1,2008
5102,2008-01-06,2008-01-12,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,1.699,0.098,1.530,1.999,0.199,0.058,1.5,0.062,1.39,1.7689,0.041,1,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55754,2012-12-30,2013-01-05,NORDESTE,RIO GRANDE DO NORTE,GNV,17,R$/m3,1.891,0.015,1.860,1.900,0.466,0.008,1.425,0.098,1.2657,1.4789,0.069,12,2012
55755,2012-12-30,2013-01-05,SUL,RIO GRANDE DO SUL,GNV,34,R$/m3,1.980,0.040,1.919,2.140,0.566,0.020,1.414,0.028,1.3997,1.4608,0.02,12,2012
55756,2012-12-30,2013-01-05,SUL,SANTA CATARINA,GNV,41,R$/m3,2.003,0.034,1.879,2.099,-,0.017,-,-,-,-,-,12,2012
55757,2012-12-30,2013-01-05,SUDESTE,SAO PAULO,GNV,82,R$/m3,1.598,0.199,1.399,2.599,0.397,0.125,1.201,0.182,0.8354,1.535,0.152,12,2012
55758,2012-12-30,2013-01-05,NORDESTE,SERGIPE,GNV,11,R$/m3,1.847,0.033,1.790,1.899,0.504,0.018,1.343,0.178,1.1253,1.543,0.133,12,2012

In [76]:
#Alternativa3
datagas.query('ANO in @lista_anos')

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
5098,2008-01-06,2008-01-12,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,1.806,0.082,1.709,1.950,0.29,0.045,1.516,0.061,1.3892,1.6157,0.04,1,2008
5099,2008-01-06,2008-01-12,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.616,0.100,1.470,1.899,0.293,0.062,1.323,0.05,1.2242,1.6173,0.038,1,2008
5100,2008-01-06,2008-01-12,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,142,R$/l,1.581,0.095,1.390,1.850,0.278,0.060,1.303,0.073,1.14,1.45,0.056,1,2008
5101,2008-01-06,2008-01-12,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,133,R$/l,1.831,0.046,1.680,1.910,0.382,0.025,1.449,0.044,1.3247,1.5514,0.03,1,2008
5102,2008-01-06,2008-01-12,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,1.699,0.098,1.530,1.999,0.199,0.058,1.5,0.062,1.39,1.7689,0.041,1,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55754,2012-12-30,2013-01-05,NORDESTE,RIO GRANDE DO NORTE,GNV,17,R$/m3,1.891,0.015,1.860,1.900,0.466,0.008,1.425,0.098,1.2657,1.4789,0.069,12,2012
55755,2012-12-30,2013-01-05,SUL,RIO GRANDE DO SUL,GNV,34,R$/m3,1.980,0.040,1.919,2.140,0.566,0.020,1.414,0.028,1.3997,1.4608,0.02,12,2012
55756,2012-12-30,2013-01-05,SUL,SANTA CATARINA,GNV,41,R$/m3,2.003,0.034,1.879,2.099,-,0.017,-,-,-,-,-,12,2012
55757,2012-12-30,2013-01-05,SUDESTE,SAO PAULO,GNV,82,R$/m3,1.598,0.199,1.399,2.599,0.397,0.125,1.201,0.182,0.8354,1.535,0.152,12,2012
55758,2012-12-30,2013-01-05,NORDESTE,SERGIPE,GNV,11,R$/m3,1.847,0.033,1.790,1.899,0.504,0.018,1.343,0.178,1.1253,1.543,0.133,12,2012

#### Iterando com Dataframes

In [77]:
for index, row in datagas.head(10).iterrows():
    print(f'\n indice {index} ==> {row["ESTADO"]}')

 indice 0 ==> DISTRITO FEDERAL

 indice 1 ==> GOIAS

 indice 2 ==> MATO GROSSO

 indice 3 ==> MATO GROSSO DO SUL

 indice 4 ==> ALAGOAS

 indice 5 ==> BAHIA

 indice 6 ==> CEARA

 indice 7 ==> MARANHAO

 indice 8 ==> PARAIBA

 indice 9 ==> PERNAMBUCO

In [78]:
for index, row in datagas.head(10).iterrows():
    print(f'\n indice {index} ==> {row}')

 indice 0 ==> DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                               CENTRO OESTE
ESTADO                           DISTRITO FEDERAL
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  127
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.288
DESVIO PADRÃO REVENDA                       0.016
PREÇO MÍNIMO REVENDA                         1.19
PREÇO MÁXIMO REVENDA                         1.35
MARGEM MÉDIA REVENDA                        0.463
COEF DE VARIAÇÃO REVENDA                    0.012
PREÇO MÉDIO DISTRIBUIÇÃO                    0.825
DESVIO PADRÃO DISTRIBUIÇÃO                   0.11
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.4201
PREÇO MÁXIMO DISTRIBUIÇÃO                  0.9666
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.133
MÊS                                             5
ANO                                          2004
Name: 0, dtype: object

 indice 1 ==> DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                               CENTRO OESTE
ESTADO                                      GOIAS
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  387
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.162
DESVIO PADRÃO REVENDA                       0.114
PREÇO MÍNIMO REVENDA                         0.89
PREÇO MÁXIMO REVENDA                        1.449
MARGEM MÉDIA REVENDA                        0.399
COEF DE VARIAÇÃO REVENDA                    0.098
PREÇO MÉDIO DISTRIBUIÇÃO                    0.763
DESVIO PADRÃO DISTRIBUIÇÃO                  0.088
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.5013
PREÇO MÁXIMO DISTRIBUIÇÃO                    1.05
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.115
MÊS                                             5
ANO                                          2004
Name: 1, dtype: object

 indice 2 ==> DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                               CENTRO OESTE
ESTADO                                MATO GROSSO
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  192
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.389
DESVIO PADRÃO REVENDA                       0.097
PREÇO MÍNIMO REVENDA                         1.18
PREÇO MÁXIMO REVENDA                         1.76
MARGEM MÉDIA REVENDA                        0.419
COEF DE VARIAÇÃO REVENDA                     0.07
PREÇO MÉDIO DISTRIBUIÇÃO                     0.97
DESVIO PADRÃO DISTRIBUIÇÃO                  0.095
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.5614
PREÇO MÁXIMO DISTRIBUIÇÃO                   1.161
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.098
MÊS                                             5
ANO                                          2004
Name: 2, dtype: object

 indice 3 ==> DATA INICIAL                             2004-05-09
DATA FINAL                               2004-05-15
REGIÃO                                 CENTRO OESTE
ESTADO                           MATO GROSSO DO SUL
PRODUTO                            ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                    162
UNIDADE DE MEDIDA                              R$/l
PREÇO MÉDIO REVENDA                           1.262
DESVIO PADRÃO REVENDA                          0.07
PREÇO MÍNIMO REVENDA                           1.09
PREÇO MÁXIMO REVENDA                          1.509
MARGEM MÉDIA REVENDA                          0.432
COEF DE VARIAÇÃO REVENDA                      0.055
PREÇO MÉDIO DISTRIBUIÇÃO                       0.83
DESVIO PADRÃO DISTRIBUIÇÃO                    0.119
PREÇO MÍNIMO DISTRIBUIÇÃO                    0.5991
PREÇO MÁXIMO DISTRIBUIÇÃO                   1.22242
COEF DE VARIAÇÃO DISTRIBUIÇÃO                 0.143
MÊS                                               5
ANO                                            2004
Name: 3, dtype: object

 indice 4 ==> DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                                   NORDESTE
ESTADO                                    ALAGOAS
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  103
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.181
DESVIO PADRÃO REVENDA                       0.078
PREÇO MÍNIMO REVENDA                         1.05
PREÇO MÁXIMO REVENDA                          1.4
MARGEM MÉDIA REVENDA                         0.24
COEF DE VARIAÇÃO REVENDA                    0.066
PREÇO MÉDIO DISTRIBUIÇÃO                    0.941
DESVIO PADRÃO DISTRIBUIÇÃO                  0.077
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.7441
PREÇO MÁXIMO DISTRIBUIÇÃO                  1.0317
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.082
MÊS                                             5
ANO                                          2004
Name: 4, dtype: object

 indice 5 ==> DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                                   NORDESTE
ESTADO                                      BAHIA
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  408
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.383
DESVIO PADRÃO REVENDA                       0.132
PREÇO MÍNIMO REVENDA                        0.999
PREÇO MÁXIMO REVENDA                         2.05
MARGEM MÉDIA REVENDA                        0.426
COEF DE VARIAÇÃO REVENDA                    0.095
PREÇO MÉDIO DISTRIBUIÇÃO                    0.957
DESVIO PADRÃO DISTRIBUIÇÃO                  0.128
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.5686
PREÇO MÁXIMO DISTRIBUIÇÃO                    1.35
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.134
MÊS                                             5
ANO                                          2004
Name: 5, dtype: object

 indice 6 ==> DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                                   NORDESTE
ESTADO                                      CEARA
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  278
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.453
DESVIO PADRÃO REVENDA                       0.218
PREÇO MÍNIMO REVENDA                         1.03
PREÇO MÁXIMO REVENDA                         1.95
MARGEM MÉDIA REVENDA                        0.353
COEF DE VARIAÇÃO REVENDA                     0.15
PREÇO MÉDIO DISTRIBUIÇÃO                      1.1
DESVIO PADRÃO DISTRIBUIÇÃO                  0.068
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.7332
PREÇO MÁXIMO DISTRIBUIÇÃO                   1.294
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.062
MÊS                                             5
ANO                                          2004
Name: 6, dtype: object

 indice 7 ==> DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                                   NORDESTE
ESTADO                                   MARANHAO
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  105
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.631
DESVIO PADRÃO REVENDA                       0.158
PREÇO MÍNIMO REVENDA                         1.35
PREÇO MÁXIMO REVENDA                          2.0
MARGEM MÉDIA REVENDA                        0.515
COEF DE VARIAÇÃO REVENDA                    0.097
PREÇO MÉDIO DISTRIBUIÇÃO                    1.116
DESVIO PADRÃO DISTRIBUIÇÃO                  0.091
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.9923
PREÇO MÁXIMO DISTRIBUIÇÃO                 1.36183
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.082
MÊS                                             5
ANO                                          2004
Name: 7, dtype: object

 indice 8 ==> DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                                   NORDESTE
ESTADO                                    PARAIBA
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  125
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.284
DESVIO PADRÃO REVENDA                        0.13
PREÇO MÍNIMO REVENDA                          1.1
PREÇO MÁXIMO REVENDA                        1.699
MARGEM MÉDIA REVENDA                        0.353
COEF DE VARIAÇÃO REVENDA                    0.101
PREÇO MÉDIO DISTRIBUIÇÃO                    0.931
DESVIO PADRÃO DISTRIBUIÇÃO                  0.072
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.7577
PREÇO MÁXIMO DISTRIBUIÇÃO                  1.2972
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.077
MÊS                                             5
ANO                                          2004
Name: 8, dtype: object

 indice 9 ==> DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                                   NORDESTE
ESTADO                                 PERNAMBUCO
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  423
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.224
DESVIO PADRÃO REVENDA                       0.141
PREÇO MÍNIMO REVENDA                        0.989
PREÇO MÁXIMO REVENDA                          1.7
MARGEM MÉDIA REVENDA                        0.277
COEF DE VARIAÇÃO REVENDA                    0.115
PREÇO MÉDIO DISTRIBUIÇÃO                    0.947
DESVIO PADRÃO DISTRIBUIÇÃO                  0.091
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.5643
PREÇO MÁXIMO DISTRIBUIÇÃO                  1.3541
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.096
MÊS                                             5
ANO                                          2004
Name: 9, dtype: object

#### Preparação de Dados

In [79]:
datagas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   106823 non-null  object
 1   DATA FINAL                     106823 non-null  object
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 6   UNIDADE DE MEDIDA              106823 non-null  object
 7   PREÇO MÉDIO REVENDA            106823 non-null  float64
 8   DESVIO PADRÃO REVENDA          106823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           106823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 11  MARGEM MÉDIA REVENDA           106823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
dtypes: float64(5), int64(3), object(12)
memory usage: 16.3+ MB

In [80]:
data_pre = datagas.copy()

In [81]:
# Conversão de datas

data_pre['DATA INICIAL'] = pd.to_datetime(data_pre['DATA INICIAL'])
data_pre['DATA FINAL'] = pd.to_datetime(data_pre['DATA FINAL'])

data_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   106823 non-null  datetime64[ns]
 1   DATA FINAL                     106823 non-null  datetime64[ns]
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 6   UNIDADE DE MEDIDA              106823 non-null  object
 7   PREÇO MÉDIO REVENDA            106823 non-null  float64
 8   DESVIO PADRÃO REVENDA          106823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           106823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 11  MARGEM MÉDIA REVENDA           106823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(3), object(10)
memory usage: 16.3+ MB

In [82]:
#Convertendo atributos para numerico

listanum = ['MARGEM MÉDIA REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO', 'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO', 'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO' ]

for atributo in listanum: 
    #converte a coluna para um tipo numerico, em caso de erro na conversão, um valor vazio NaN será atribuido no lugar
    data_pre[atributo] = pd.to_numeric(data_pre[atributo], errors = 'coerce')
    
data_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   106823 non-null  datetime64[ns]
 1   DATA FINAL                     106823 non-null  datetime64[ns]
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 6   UNIDADE DE MEDIDA              106823 non-null  object
 7   PREÇO MÉDIO REVENDA            106823 non-null  float64
 8   DESVIO PADRÃO REVENDA          106823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           106823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 11  MARGEM MÉDIA REVENDA           103392 non-null  float64
 12  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       103423 non-null  float64
 14  DESVIO PADRÃO DISTRIBUIÇÃO     103423 non-null  float64
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      103423 non-null  float64
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      103423 non-null  float64
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  103423 non-null  float64
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
dtypes: datetime64[ns](2), float64(11), int64(3), object(4)
memory usage: 16.3+ MB

#### Limpeza de dados

In [83]:
n = data_pre['PREÇO MÉDIO DISTRIBUIÇÃO'].isnull()

data_pre[n].head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
1903,2005-09-25,2005-10-01,NORTE,PARA,ETANOL HIDRATADO,2,R$/l,1.694,0.283,1.69,2.09,NaN,0.167,NaN,NaN,NaN,NaN,NaN,9,2005
1958,2005-10-09,2005-10-15,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.000,0.000,2.00,2.00,NaN,0.000,NaN,NaN,NaN,NaN,NaN,10,2005
2012,2005-10-23,2005-10-29,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.277,0.023,2.25,2.29,NaN,0.010,NaN,NaN,NaN,NaN,NaN,10,2005

In [84]:
#Nos dados originais, quais eram os valores do PREÇO MEDIO DE DISTRIBUICAO dos registros originais

datagas[n].head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
1903,2005-09-25,2005-10-01,NORTE,PARA,ETANOL HIDRATADO,2,R$/l,1.694,0.283,1.69,2.09,-,0.167,-,-,-,-,-,9,2005
1958,2005-10-09,2005-10-15,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.000,0.000,2.00,2.00,-,0.000,-,-,-,-,-,10,2005
2012,2005-10-23,2005-10-29,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.277,0.023,2.25,2.29,-,0.010,-,-,-,-,-,10,2005
2497,2006-02-26,2006-03-04,NORTE,RORAIMA,ETANOL HIDRATADO,11,R$/l,2.182,0.040,2.10,2.20,-,0.018,-,-,-,-,-,2,2006
3199,2006-08-27,2006-09-02,NORTE,RORAIMA,ETANOL HIDRATADO,22,R$/l,2.285,0.068,1.98,2.30,-,0.030,-,-,-,-,-,8,2006

In [85]:
#Retorna uma copia do dataframe datapre com todos os valores NaN de todas as colunas agora preenchidas com 0.
#Para alterar o propio df, use o argumento inplace=True

data_pre_fill = data_pre.fillna(0)
data_pre_fill.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143,5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082,5,2004

In [86]:
data_pre_fill[n]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
1903,2005-09-25,2005-10-01,NORTE,PARA,ETANOL HIDRATADO,2,R$/l,1.694,0.283,1.690,2.090,0.0,0.167,0.0,0.0,0.0,0.0,0.0,9,2005
1958,2005-10-09,2005-10-15,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.000,0.000,2.000,2.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,10,2005
2012,2005-10-23,2005-10-29,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.277,0.023,2.250,2.290,0.0,0.010,0.0,0.0,0.0,0.0,0.0,10,2005
2497,2006-02-26,2006-03-04,NORTE,RORAIMA,ETANOL HIDRATADO,11,R$/l,2.182,0.040,2.100,2.200,0.0,0.018,0.0,0.0,0.0,0.0,0.0,2,2006
3199,2006-08-27,2006-09-02,NORTE,RORAIMA,ETANOL HIDRATADO,22,R$/l,2.285,0.068,1.980,2.300,0.0,0.030,0.0,0.0,0.0,0.0,0.0,8,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106664,2019-06-16,2019-06-22,SUDESTE,MINAS GERAIS,GNV,5,R$/m3,3.445,0.147,3.347,3.699,0.0,0.043,0.0,0.0,0.0,0.0,0.0,6,2019
106666,2019-06-16,2019-06-22,SUL,PARANA,GNV,7,R$/m3,3.132,0.295,3.049,3.890,0.0,0.094,0.0,0.0,0.0,0.0,0.0,6,2019
106811,2019-06-23,2019-06-29,SUDESTE,ESPIRITO SANTO,GNV,4,R$/m3,3.299,0.005,3.290,3.299,0.0,0.002,0.0,0.0,0.0,0.0,0.0,6,2019
106813,2019-06-23,2019-06-29,SUDESTE,MINAS GERAIS,GNV,6,R$/m3,3.548,0.100,3.495,3.699,0.0,0.028,0.0,0.0,0.0,0.0,0.0,6,2019
106815,2019-06-23,2019-06-29,SUL,PARANA,GNV,1,R$/m3,3.290,0.000,3.290,3.290,0.0,0.000,0.0,0.0,0.0,0.0,0.0,6,2019

In [87]:
data_pre_fill = data_pre.fillna(value = {
    "PREÇO MÉDIO DISTRIBUIÇÃO": 10,
    'DESVIO PADRÃO DISTRIBUIÇÃO': 20,
    'PREÇO MÁXIMO DISTRIBUIÇÃO': 30
})

In [88]:
data_pre_fill[n].head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
1903,2005-09-25,2005-10-01,NORTE,PARA,ETANOL HIDRATADO,2,R$/l,1.694,0.283,1.69,2.09,NaN,0.167,10.0,20.0,NaN,30.0,NaN,9,2005
1958,2005-10-09,2005-10-15,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.000,0.000,2.00,2.00,NaN,0.000,10.0,20.0,NaN,30.0,NaN,10,2005
2012,2005-10-23,2005-10-29,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.277,0.023,2.25,2.29,NaN,0.010,10.0,20.0,NaN,30.0,NaN,10,2005
2497,2006-02-26,2006-03-04,NORTE,RORAIMA,ETANOL HIDRATADO,11,R$/l,2.182,0.040,2.10,2.20,NaN,0.018,10.0,20.0,NaN,30.0,NaN,2,2006
3199,2006-08-27,2006-09-02,NORTE,RORAIMA,ETANOL HIDRATADO,22,R$/l,2.285,0.068,1.98,2.30,NaN,0.030,10.0,20.0,NaN,30.0,NaN,8,2006

In [89]:
#Para remover os NaNs

data_pre.dropna(inplace = True)

In [90]:
data_pre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103392 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   103392 non-null  datetime64[ns]
 1   DATA FINAL                     103392 non-null  datetime64[ns]
 2   REGIÃO                         103392 non-null  object
 3   ESTADO                         103392 non-null  object
 4   PRODUTO                        103392 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   103392 non-null  int64
 6   UNIDADE DE MEDIDA              103392 non-null  object
 7   PREÇO MÉDIO REVENDA            103392 non-null  float64
 8   DESVIO PADRÃO REVENDA          103392 non-null  float64
 9   PREÇO MÍNIMO REVENDA           103392 non-null  float64
 10  PREÇO MÁXIMO REVENDA           103392 non-null  float64
 11  MARGEM MÉDIA REVENDA           103392 non-null  float64
 12  COEF DE VARIAÇÃO REVENDA       103392 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       103392 non-null  float64
 14  DESVIO PADRÃO DISTRIBUIÇÃO     103392 non-null  float64
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      103392 non-null  float64
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      103392 non-null  float64
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  103392 non-null  float64
 18  MÊS                            103392 non-null  int64
 19  ANO                            103392 non-null  int64
dtypes: datetime64[ns](2), float64(11), int64(3), object(4)
memory usage: 16.6+ MB

#### Estatísticas descritivas

In [91]:
data_pre.to_csv("C:/Users/joaod/OneDrive/Documentos/Projetos/pandas_essencial/Gaspreprocessado-final.csv", index = False)

In [92]:
data_final = pd.read_csv("C:/Users/joaod/OneDrive/Documentos/Projetos/pandas_essencial/Gaspreprocessado-final.csv")

In [93]:
#Retorna um df com as principais medidas(mean, median, max e min e etc)
data_final.describe()['PREÇO MÉDIO REVENDA']

count    103392.000000
mean         10.784472
std          17.685852
min           0.766000
25%           2.073000
50%           2.723000
75%           3.745000
max          99.357000
Name: PREÇO MÉDIO REVENDA, dtype: float64

In [94]:
stats = data_final.describe()

stats[['PREÇO MÉDIO REVENDA', 'PREÇO MÁXIMO REVENDA']]

       PREÇO MÉDIO REVENDA  PREÇO MÁXIMO REVENDA
count        103392.000000         103392.000000
mean             10.784472             12.458686
std              17.685852             20.801190
min               0.766000              0.999000
25%               2.073000              2.330000
50%               2.723000              3.000000
75%               3.745000              4.150000
max              99.357000            120.000000

In [95]:
data_final[['PREÇO MÉDIO REVENDA', 'PREÇO MÁXIMO REVENDA']].describe()

       PREÇO MÉDIO REVENDA  PREÇO MÁXIMO REVENDA
count        103392.000000         103392.000000
mean             10.784472             12.458686
std              17.685852             20.801190
min               0.766000              0.999000
25%               2.073000              2.330000
50%               2.723000              3.000000
75%               3.745000              4.150000
max              99.357000            120.000000

In [96]:
#Selecionar apenas algumas medidas
stats.loc[['min', 'max', 'mean']]

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
min,1.000000,0.766000,0.000000,0.590000,0.999000,0.001000,0.000000,0.506000,0.000000,0.325700,0.599200,0.00000,1.000000,2004.000000
max,4167.000000,99.357000,10.748000,90.000000,120.000000,36.847000,0.262000,83.137000,18.385000,83.000000,94.500000,0.78000,12.000000,2019.000000
mean,240.511935,10.784472,0.652589,9.334931,12.458686,2.225151,0.045749,8.559322,0.559441,7.414814,9.805621,0.04664,6.485067,2011.737001

In [97]:
#Selecionar apenas algumas medidas para estas colunas

stats.loc[['min', 'max', 'mean'], ['PREÇO MÉDIO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO']]

      PREÇO MÉDIO REVENDA  PREÇO MÉDIO DISTRIBUIÇÃO
min              0.766000                  0.506000
max             99.357000                 83.137000
mean            10.784472                  8.559322

In [98]:
#Selecionando o min do preço minimo de revenda

stats.loc[['min'], ['PREÇO MÍNIMO REVENDA']]

     PREÇO MÍNIMO REVENDA
min                  0.59

In [99]:
mean = data_final['PREÇO MÉDIO REVENDA'].mean()
std = data_final['PREÇO MÉDIO REVENDA'].std()

print(f'A Média dos preços minimos de revenda é {mean} +- {std}')

A Média dos preços minimos de revenda é 10.784472386645001 +- 17.68585159703446

In [100]:
sorted(data_final['ESTADO'].unique())

['ACRE',
 'ALAGOAS',
 'AMAPA',
 'AMAZONAS',
 'BAHIA',
 'CEARA',
 'DISTRITO FEDERAL',
 'ESPIRITO SANTO',
 'GOIAS',
 'MARANHAO',
 'MATO GROSSO',
 'MATO GROSSO DO SUL',
 'MINAS GERAIS',
 'PARA',
 'PARAIBA',
 'PARANA',
 'PERNAMBUCO',
 'PIAUI',
 'RIO DE JANEIRO',
 'RIO GRANDE DO NORTE',
 'RIO GRANDE DO SUL',
 'RONDONIA',
 'RORAIMA',
 'SANTA CATARINA',
 'SAO PAULO',
 'SERGIPE',
 'TOCANTINS']

In [101]:
# Quantos registros (aferições) cada estado possui
# .value_counts() conta a frequencia de uma variavel (de preferencia categorica)

data_final['ESTADO'].value_counts()

BAHIA                  4263
RIO DE JANEIRO         4262
SAO PAULO              4261
RIO GRANDE DO SUL      4249
PARAIBA                4240
PERNAMBUCO             4236
SERGIPE                4202
SANTA CATARINA         4164
MINAS GERAIS           4142
ESPIRITO SANTO         4079
MATO GROSSO DO SUL     4076
ALAGOAS                4020
RIO GRANDE DO NORTE    3999
CEARA                  3964
PARANA                 3902
AMAZONAS               3713
MATO GROSSO            3703
PARA                   3477
MARANHAO               3470
ACRE                   3463
RORAIMA                3457
TOCANTINS              3453
GOIAS                  3449
RONDONIA               3441
PIAUI                  3394
DISTRITO FEDERAL       3317
AMAPA                  2996
Name: ESTADO, dtype: int64

In [102]:
#Converte uma series em um data frame
data_final['ESTADO'].value_counts().to_frame()

                     ESTADO
BAHIA                  4263
RIO DE JANEIRO         4262
SAO PAULO              4261
RIO GRANDE DO SUL      4249
PARAIBA                4240
PERNAMBUCO             4236
SERGIPE                4202
SANTA CATARINA         4164
MINAS GERAIS           4142
ESPIRITO SANTO         4079
MATO GROSSO DO SUL     4076
ALAGOAS                4020
RIO GRANDE DO NORTE    3999
CEARA                  3964
PARANA                 3902
AMAZONAS               3713
MATO GROSSO            3703
PARA                   3477
MARANHAO               3470
ACRE                   3463
RORAIMA                3457
TOCANTINS              3453
GOIAS                  3449
RONDONIA               3441
PIAUI                  3394
DISTRITO FEDERAL       3317
AMAPA                  2996

#### Executando funções para cada item de um Data Frame ou Series

Uma alternativa ao ```for-loop``` que vimos anteriormente e que é lento, é usarmos funções própias do pandas que aplicam/mapeiam uma dada função a todos os elementos de um df ou series, retornando novos elementos 'transformados'.

* ```apply()```: usado para aplicar uma função ao longo de um eixo de um df ou em valores de uma series.

In [103]:
def nossa_soma(series):
    return series.sum()

In [104]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [10, 20, 30, 40],
    'C': [100, 200, 300, 400]}, 
    index = ['Linha 1', 'Linha 2', 'Linha 3', 'Linha 4'])

df

         A   B    C
Linha 1  1  10  100
Linha 2  2  20  200
Linha 3  3  30  300
Linha 4  4  40  400

In [105]:
df['SOMA (A, B, C)'] = df.apply(nossa_soma, axis = 1)
df

         A   B    C  SOMA (A, B, C)
Linha 1  1  10  100             111
Linha 2  2  20  200             222
Linha 3  3  30  300             333
Linha 4  4  40  400             444

In [106]:
df.loc['Linha 5 Soma']= df.apply(nossa_soma, axis=0)
df

               A    B     C  SOMA (A, B, C)
Linha 1        1   10   100             111
Linha 2        2   20   200             222
Linha 3        3   30   300             333
Linha 4        4   40   400             444
Linha 5 Soma  10  100  1000            1110

In [107]:
df['MÉDIA (A,B,C)'] = df[['A', 'B', 'C']].apply(lambda series: series.mean(), axis=1)
df

               A    B     C  SOMA (A, B, C)  MÉDIA (A,B,C)
Linha 1        1   10   100             111           37.0
Linha 2        2   20   200             222           74.0
Linha 3        3   30   300             333          111.0
Linha 4        4   40   400             444          148.0
Linha 5 Soma  10  100  1000            1110          370.0

In [130]:
#Aplica a labda function abaixo para cada elemento da coluna
df['C * 2'] = df['C'].apply(lambda x: x * 2)
df

     A    B    C  C * 2
0  1.0  2.0  3.0    6.0
1  4.0  5.0  6.0   12.0
2  7.0  8.0  9.0   18.0
3  NaN  NaN  NaN    NaN

* ```applymap()```: usado para aplicar uma função para cada elemento (element-wise) de um dataframe

In [109]:
#Retorna um novo df com todos os elementos ao quadrado
#poderiamos usar uma função ao invés de uma lambda function
df.applymap(lambda x: x ** 2)

                A      B        C  SOMA (A, B, C)  MÉDIA (A,B,C)    C * 2
Linha 1         1    100    10000           12321         1369.0    40000
Linha 2         4    400    40000           49284         5476.0   160000
Linha 3         9    900    90000          110889        12321.0   360000
Linha 4        16   1600   160000          197136        21904.0   640000
Linha 5 Soma  100  10000  1000000         1232100       136900.0  4000000

* ```map()```: usado para aplicar uma função para cada elemnto (element-wise) de uma series.

In [110]:
nomes = pd.Series(['João', 'Maria', 'Alice', 'Pedro'])
nomes

0     João
1    Maria
2    Alice
3    Pedro
dtype: object

#### Agrupamento

```groupby```: Usado para criar grupos de elemntos (e.x.., baseado nos valores de um atributo (categórico)).

Funções podem esntão ser aplicadas para os elementos de cada grupo, de modo que os resultados de cada grupo são combinados.

In [111]:
data_final.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.110,0.4201,0.9666,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.0500,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.970,0.095,0.5614,1.1610,0.098,5,2004

In [112]:
grupos = data_final.groupby('REGIÃO')
grupos

In [113]:
#Retorna o codigo obtidos pelo goupby
grupos.groups

{'CENTRO OESTE': [0, 1, 2, 3, 27, 28, 29, 30, 54, 55, 56, 57, 81, 82, 83, 84, 108, 109, 110, 111, 135, 136, 137, 138, 162, 163, 164, 165, 189, 190, 191, 192, 216, 217, 218, 219, 243, 244, 245, 246, 270, 271, 272, 273, 297, 298, 299, 300, 324, 325, 326, 327, 351, 352, 353, 354, 378, 379, 380, 381, 405, 406, 407, 408, 432, 433, 434, 435, 459, 460, 461, 462, 486, 487, 488, 489, 513, 514, 515, 516, 540, 541, 542, 543, 567, 568, 569, 570, 594, 595, 596, 597, 621, 622, 623, 624, 648, 649, 650, 651, ...], 'NORDESTE': [4, 5, 6, 7, 8, 9, 10, 11, 12, 31, 32, 33, 34, 35, 36, 37, 38, 39, 58, 59, 60, 61, 62, 63, 64, 65, 66, 85, 86, 87, 88, 89, 90, 91, 92, 93, 112, 113, 114, 115, 116, 117, 118, 119, 120, 139, 140, 141, 142, 143, 144, 145, 146, 147, 166, 167, 168, 169, 170, 171, 172, 173, 174, 193, 194, 195, 196, 197, 198, 199, 200, 201, 220, 221, 222, 223, 224, 225, 226, 227, 228, 247, 248, 249, 250, 251, 252, 253, 254, 255, 274, 275, 276, 277, 278, 279, 280, 281, 282, 301, ...], 'NORTE': [13, 14, 15, 16, 17, 18, 19, 40, 41, 42, 43, 44, 45, 46, 67, 68, 69, 70, 71, 72, 73, 94, 95, 96, 97, 98, 99, 100, 121, 122, 123, 124, 125, 126, 127, 148, 149, 150, 151, 152, 153, 154, 175, 176, 177, 178, 179, 180, 181, 202, 203, 204, 205, 206, 207, 208, 229, 230, 231, 232, 233, 234, 235, 256, 257, 258, 259, 260, 261, 262, 283, 284, 285, 286, 287, 288, 289, 310, 311, 312, 313, 314, 315, 316, 337, 338, 339, 340, 341, 342, 343, 364, 365, 366, 367, 368, 369, 370, 391, 392, ...], 'SUDESTE': [20, 21, 22, 23, 47, 48, 49, 50, 74, 75, 76, 77, 101, 102, 103, 104, 128, 129, 130, 131, 155, 156, 157, 158, 182, 183, 184, 185, 209, 210, 211, 212, 236, 237, 238, 239, 263, 264, 265, 266, 290, 291, 292, 293, 317, 318, 319, 320, 344, 345, 346, 347, 371, 372, 373, 374, 398, 399, 400, 401, 425, 426, 427, 428, 452, 453, 454, 455, 479, 480, 481, 482, 506, 507, 508, 509, 533, 534, 535, 536, 560, 561, 562, 563, 587, 588, 589, 590, 614, 615, 616, 617, 641, 642, 643, 644, 668, 669, 670, 671, ...], 'SUL': [24, 25, 26, 51, 52, 53, 78, 79, 80, 105, 106, 107, 132, 133, 134, 159, 160, 161, 186, 187, 188, 213, 214, 215, 240, 241, 242, 267, 268, 269, 294, 295, 296, 321, 322, 323, 348, 349, 350, 375, 376, 377, 402, 403, 404, 429, 430, 431, 456, 457, 458, 483, 484, 485, 510, 511, 512, 537, 538, 539, 564, 565, 566, 591, 592, 593, 618, 619, 620, 645, 646, 647, 672, 673, 674, 699, 700, 701, 726, 727, 728, 753, 754, 755, 780, 781, 782, 807, 808, 809, 834, 835, 836, 861, 862, 863, 888, 889, 890, 915, ...]}

In [114]:
#Retorna os indices das linhas/observações de cada grupo
grupos.indices

{'CENTRO OESTE': array([     0,      1,      2, ..., 103363, 103364, 103383], dtype=int64),
 'NORDESTE': array([     4,      5,      6, ..., 103385, 103387, 103391], dtype=int64),
 'NORTE': array([    13,     14,     15, ..., 103374, 103375, 103379], dtype=int64),
 'SUDESTE': array([    20,     21,     22, ..., 103377, 103386, 103390], dtype=int64),
 'SUL': array([    24,     25,     26, ..., 103376, 103388, 103389], dtype=int64)}

In [115]:
#Retorna um dataframe apenas com as observações do grupo 'NORDESTE'
NOR = grupos.get_group('NORDESTE')
NOR.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082,5,2004
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,2.050,0.426,0.095,0.957,0.128,0.5686,1.35000,0.134,5,2004
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.030,1.950,0.353,0.150,1.100,0.068,0.7332,1.29400,0.062,5,2004
7,2004-05-09,2004-05-15,NORDESTE,MARANHAO,ETANOL HIDRATADO,105,R$/l,1.631,0.158,1.350,2.000,0.515,0.097,1.116,0.091,0.9923,1.36183,0.082,5,2004
8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,1.100,1.699,0.353,0.101,0.931,0.072,0.7577,1.29720,0.077,5,2004

In [116]:
NOR.describe()

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
count,35788.000000,35788.000000,35788.000000,35788.000000,35788.000000,35788.000000,35788.000000,35788.000000,35788.000000,35788.000000,35788.000000,35788.000000,35788.000000,35788.000000
mean,124.721834,9.558746,0.552230,8.375173,10.788018,2.069198,0.041247,7.489549,0.514093,6.563284,8.461956,0.047887,6.487845,2011.704454
std,113.110808,15.988848,1.233842,13.737137,18.432933,4.195252,0.023855,12.006379,1.127520,10.269009,13.860668,0.042186,3.443494,4.418046
min,1.000000,0.975000,0.000000,0.790000,0.999000,0.039000,0.000000,0.586000,0.000000,0.363200,0.599200,0.000000,1.000000,2004.000000
25%,41.000000,1.981000,0.062000,1.850000,2.200000,0.263000,0.025000,1.721000,0.044000,1.632300,1.863075,0.020000,4.000000,2008.000000
50%,95.000000,2.624000,0.098000,2.430000,2.890000,0.372000,0.036000,2.256000,0.073000,2.150000,2.400000,0.031000,6.000000,2012.000000
75%,169.000000,3.580000,0.162000,3.350000,3.899000,0.531000,0.052000,3.174000,0.143000,3.030000,3.354225,0.064000,10.000000,2016.000000
max,625.000000,79.630000,10.748000,75.000000,90.000000,31.819000,0.228000,59.411000,13.435000,55.350000,89.900000,0.608000,12.000000,2019.000000

In [117]:
grupos.mean()

C:\Users\joaod\AppData\Local\Temp\ipykernel_81188\1316802999.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grupos.mean()

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
REGIÃO,,,,,,,,,,,,,,
CENTRO OESTE,144.898453,12.299706,0.695078,10.610077,13.993156,2.438077,0.042077,9.861629,0.692259,8.511186,11.130478,0.039288,6.483396,2011.773599
NORDESTE,124.721834,9.558746,0.552230,8.375173,10.788018,2.069198,0.041247,7.489549,0.514093,6.563284,8.461956,0.047887,6.487845,2011.704454
NORTE,67.835958,12.633086,0.718957,11.410176,14.448137,2.221746,0.047480,10.411340,0.442566,9.505328,11.314534,0.034485,6.488458,2011.812083
SUDESTE,726.068024,9.828218,0.678608,7.966396,11.894671,2.335709,0.055126,7.492509,0.585445,6.000720,9.330476,0.060778,6.481844,2011.707895
SUL,366.266423,10.254388,0.729338,8.434376,12.391134,2.283191,0.047045,7.971197,0.726774,6.443075,9.851008,0.056162,6.476736,2011.681608

* Verificando o preço médio de cada produto (Combustível) para cada região?

In [118]:
RER = data_final.groupby(['REGIÃO', 'PRODUTO'])
RER

In [119]:
RER.groups

{('CENTRO OESTE', 'ETANOL HIDRATADO'): [0, 1, 2, 3, 27, 28, 29, 30, 54, 55, 56, 57, 81, 82, 83, 84, 108, 109, 110, 111, 135, 136, 137, 138, 162, 163, 164, 165, 189, 190, 191, 192, 216, 217, 218, 219, 243, 244, 245, 246, 270, 271, 272, 273, 297, 298, 299, 300, 324, 325, 326, 327, 351, 352, 353, 354, 378, 379, 380, 381, 405, 406, 407, 408, 432, 433, 434, 435, 459, 460, 461, 462, 486, 487, 488, 489, 513, 514, 515, 516, 540, 541, 542, 543, 567, 568, 569, 570, 594, 595, 596, 597, 621, 622, 623, 624, 648, 649, 650, 651, ...], ('CENTRO OESTE', 'GASOLINA COMUM'): [11980, 11981, 11982, 11983, 12007, 12008, 12009, 12010, 12034, 12035, 12036, 12037, 12061, 12062, 12063, 12064, 12088, 12089, 12090, 12091, 12115, 12116, 12117, 12118, 12142, 12143, 12144, 12145, 12169, 12170, 12171, 12172, 12196, 12197, 12198, 12199, 12223, 12224, 12225, 12226, 12250, 12251, 12252, 12253, 12277, 12278, 12279, 12280, 12304, 12305, 12306, 12307, 12331, 12332, 12333, 12334, 12358, 12359, 12360, 12361, 12385, 12386, 12387, 12388, 12412, 12413, 12414, 12415, 12439, 12440, 12441, 12442, 12466, 12467, 12468, 12469, 12493, 12494, 12495, 12496, 12520, 12521, 12522, 12523, 12547, 12548, 12549, 12550, 12574, 12575, 12576, 12577, 12601, 12602, 12603, 12604, 12628, 12629, 12630, 12631, ...], ('CENTRO OESTE', 'GLP'): [24019, 24020, 24021, 24022, 24046, 24047, 24048, 24049, 24073, 24074, 24075, 24076, 24100, 24101, 24102, 24103, 24127, 24128, 24129, 24130, 24154, 24155, 24156, 24157, 24181, 24182, 24183, 24184, 24208, 24209, 24210, 24211, 24235, 24236, 24237, 24238, 24262, 24263, 24264, 24265, 24289, 24290, 24291, 24292, 24316, 24317, 24318, 24319, 24343, 24344, 24345, 24346, 24370, 24371, 24372, 24373, 24397, 24398, 24399, 24400, 24424, 24425, 24426, 24427, 24451, 24452, 24453, 24454, 24478, 24479, 24480, 24481, 24505, 24506, 24507, 24508, 24532, 24533, 24534, 24535, 24558, 24559, 24560, 24561, 24585, 24586, 24587, 24588, 24612, 24613, 24614, 24615, 24639, 24640, 24641, 24642, 24666, 24667, 24668, 24669, ...], ('CENTRO OESTE', 'GNV'): [35892, 35907, 35922, 35937, 35952, 35967, 35982, 35997, 36012, 36027, 36042, 36057, 36072, 36087, 36102, 36117, 36132, 36147, 36162, 36177, 36192, 36207, 36222, 36237, 36252, 36267, 36283, 36298, 36313, 36329, 36345, 36360, 36375, 36390, 36405, 36420, 36436, 36451, 36466, 36481, 36495, 36510, 36525, 36541, 36557, 36572, 36588, 36604, 36620, 36635, 36650, 36665, 36680, 36695, 36710, 36725, 36740, 36755, 36770, 36785, 36800, 36815, 36830, 36845, 36860, 36875, 36890, 36918, 36932, 36948, 36962, 36991, 37006, 37021, 37037, 37053, 37068, 37084, 37100, 37116, 37132, 37148, 37164, 37180, 37196, 37212, 37228, 37244, 37259, 37275, 37291, 37307, 37323, 37339, 37355, 37371, 37387, 37403, 37419, 37435, ...], ('CENTRO OESTE', 'ÓLEO DIESEL'): [42612, 42613, 42614, 42615, 42639, 42640, 42641, 42642, 42666, 42667, 42668, 42669, 42693, 42694, 42695, 42696, 42720, 42721, 42722, 42723, 42747, 42748, 42749, 42750, 42774, 42775, 42776, 42777, 42801, 42802, 42803, 42804, 42828, 42829, 42830, 42831, 42855, 42856, 42857, 42858, 42882, 42883, 42884, 42885, 42909, 42910, 42911, 42912, 42936, 42937, 42938, 42939, 42963, 42964, 42965, 42966, 42990, 42991, 42992, 42993, 43017, 43018, 43019, 43020, 43044, 43045, 43046, 43047, 43071, 43072, 43073, 43074, 43098, 43099, 43100, 43101, 43125, 43126, 43127, 43128, 43152, 43153, 43154, 43155, 43179, 43180, 43181, 43182, 43206, 43207, 43208, 43209, 43233, 43234, 43235, 43236, 43260, 43261, 43262, 43263, ...], ('CENTRO OESTE', 'ÓLEO DIESEL S10'): [54834, 54835, 54973, 54975, 54976, 55117, 55119, 55120, 55260, 55262, 55264, 55265, 55405, 55407, 55408, 55549, 55551, 55552, 55692, 55694, 55695, 55835, 55837, 55838, 55981, 55983, 55984, 56128, 56130, 56131, 56276, 56278, 56279, 56421, 56423, 56424, 56566, 56568, 56569, 56711, 56713, 56714, 56854, 56856, 56858, 56859, 57002, 57004, 57006, 57007, 57148, 57150, 57152, 57153, 57293, 57295, 57297, 57298, 57440, 57442, 57444, 57445, 57586, 57588, 57590, 57591, 57732, 57734, 57736, 57737, 57879, 57881, 57883, 57884, 58027, 58029, 58030, 58174, 58176, 58177, 58317, 58319, 58320, 58461, 58463, 58464, 58607, 58609, 58610, 58750, 58752, 58753, 58894, 58896, 58897, 59040, 59042, 59043, 59184, 59186, ...], ('NORDESTE', 'ETANOL HIDRATADO'): [4, 5, 6, 7, 8, 9, 10, 11, 12, 31, 32, 33, 34, 35, 36, 37, 38, 39, 58, 59, 60, 61, 62, 63, 64, 65, 66, 85, 86, 87, 88, 89, 90, 91, 92, 93, 112, 113, 114, 115, 116, 117, 118, 119, 120, 139, 140, 141, 142, 143, 144, 145, 146, 147, 166, 167, 168, 169, 170, 171, 172, 173, 174, 193, 194, 195, 196, 197, 198, 199, 200, 201, 220, 221, 222, 223, 224, 225, 226, 227, 228, 247, 248, 249, 250, 251, 252, 253, 254, 255, 274, 275, 276, 277, 278, 279, 280, 281, 282, 301, ...], ('NORDESTE', 'GASOLINA COMUM'): [11984, 11985, 11986, 11987, 11988, 11989, 11990, 11991, 11992, 12011, 12012, 12013, 12014, 12015, 12016, 12017, 12018, 12019, 12038, 12039, 12040, 12041, 12042, 12043, 12044, 12045, 12046, 12065, 12066, 12067, 12068, 12069, 12070, 12071, 12072, 12073, 12092, 12093, 12094, 12095, 12096, 12097, 12098, 12099, 12100, 12119, 12120, 12121, 12122, 12123, 12124, 12125, 12126, 12127, 12146, 12147, 12148, 12149, 12150, 12151, 12152, 12153, 12154, 12173, 12174, 12175, 12176, 12177, 12178, 12179, 12180, 12181, 12200, 12201, 12202, 12203, 12204, 12205, 12206, 12207, 12208, 12227, 12228, 12229, 12230, 12231, 12232, 12233, 12234, 12235, 12254, 12255, 12256, 12257, 12258, 12259, 12260, 12261, 12262, 12281, ...], ('NORDESTE', 'GLP'): [24023, 24024, 24025, 24026, 24027, 24028, 24029, 24030, 24031, 24050, 24051, 24052, 24053, 24054, 24055, 24056, 24057, 24058, 24077, 24078, 24079, 24080, 24081, 24082, 24083, 24084, 24085, 24104, 24105, 24106, 24107, 24108, 24109, 24110, 24111, 24112, 24131, 24132, 24133, 24134, 24135, 24136, 24137, 24138, 24139, 24158, 24159, 24160, 24161, 24162, 24163, 24164, 24165, 24166, 24185, 24186, 24187, 24188, 24189, 24190, 24191, 24192, 24193, 24212, 24213, 24214, 24215, 24216, 24217, 24218, 24219, 24220, 24239, 24240, 24241, 24242, 24243, 24244, 24245, 24246, 24247, 24266, 24267, 24268, 24269, 24270, 24271, 24272, 24273, 24274, 24293, 24294, 24295, 24296, 24297, 24298, 24299, 24300, 24301, 24320, ...], ('NORDESTE', 'GNV'): [35893, 35894, 35895, 35896, 35897, 35898, 35899, 35908, 35909, 35910, 35911, 35912, 35913, 35914, 35923, 35924, 35925, 35926, 35927, 35928, 35929, 35938, 35939, 35940, 35941, 35942, 35943, 35944, 35953, 35954, 35955, 35956, 35957, 35958, 35959, 35968, 35969, 35970, 35971, 35972, 35973, 35974, 35983, 35984, 35985, 35986, 35987, 35988, 35989, 35998, 35999, 36000, 36001, 36002, 36003, 36004, 36013, 36014, 36015, 36016, 36017, 36018, 36019, 36028, 36029, 36030, 36031, 36032, 36033, 36034, 36043, 36044, 36045, 36046, 36047, 36048, 36049, 36058, 36059, 36060, 36061, 36062, 36063, 36064, 36073, 36074, 36075, 36076, 36077, 36078, 36079, 36088, 36089, 36090, 36091, 36092, 36093, 36094, 36103, 36104, ...], ('NORDESTE', 'ÓLEO DIESEL'): [42616, 42617, 42618, 42619, 42620, 42621, 42622, 42623, 42624, 42643, 42644, 42645, 42646, 42647, 42648, 42649, 42650, 42651, 42670, 42671, 42672, 42673, 42674, 42675, 42676, 42677, 42678, 42697, 42698, 42699, 42700, 42701, 42702, 42703, 42704, 42705, 42724, 42725, 42726, 42727, 42728, 42729, 42730, 42731, 42732, 42751, 42752, 42753, 42754, 42755, 42756, 42757, 42758, 42759, 42778, 42779, 42780, 42781, 42782, 42783, 42784, 42785, 42786, 42805, 42806, 42807, 42808, 42809, 42810, 42811, 42812, 42813, 42832, 42833, 42834, 42835, 42836, 42837, 42838, 42839, 42840, 42859, 42860, 42861, 42862, 42863, 42864, 42865, 42866, 42867, 42886, 42887, 42888, 42889, 42890, 42891, 42892, 42893, 42894, 42913, ...], ('NORDESTE', 'ÓLEO DIESEL S10'): [54702, 54703, 54706, 54707, 54829, 54831, 54832, 54833, 54839, 54840, 54842, 54847, 54968, 54970, 54971, 54974, 54979, 54981, 54982, 54984, 54989, 55112, 55114, 55115, 55118, 55123, 55125, 55126, 55128, 55133, 55256, 55258, 55259, 55263, 55268, 55270, 55271, 55273, 55278, 55400, 55402, 55403, 55406, 55411, 55413, 55414, 55416, 55421, 55544, 55546, 55547, 55550, 55555, 55557, 55558, 55560, 55565, 55687, 55689, 55690, 55693, 55698, 55700, 55701, 55703, 55708, 55830, 55832, 55833, 55836, 55841, 55843, 55844, 55846, 55852, 55976, 55978, 55979, 55982, 55987, 55989, 55990, 55992, 55998, 56122, 56125, 56126, 56129, 56134, 56136, 56137, 56139, 56145, 56270, 56273, 56274, 56277, 56282, 56284, 56285, ...], ('NORTE', 'ETANOL HIDRATADO'): [13, 14, 15, 16, 17, 18, 19, 40, 41, 42, 43, 44, 45, 46, 67, 68, 69, 70, 71, 72, 73, 94, 95, 96, 97, 98, 99, 100, 121, 122, 123, 124, 125, 126, 127, 148, 149, 150, 151, 152, 153, 154, 175, 176, 177, 178, 179, 180, 181, 202, 203, 204, 205, 206, 207, 208, 229, 230, 231, 232, 233, 234, 235, 256, 257, 258, 259, 260, 261, 262, 283, 284, 285, 286, 287, 288, 289, 310, 311, 312, 313, 314, 315, 316, 337, 338, 339, 340, 341, 342, 343, 364, 365, 366, 367, 368, 369, 370, 391, 392, ...], ('NORTE', 'GASOLINA COMUM'): [11993, 11994, 11995, 11996, 11997, 11998, 11999, 12020, 12021, 12022, 12023, 12024, 12025, 12026, 12047, 12048, 12049, 12050, 12051, 12052, 12053, 12074, 12075, 12076, 12077, 12078, 12079, 12080, 12101, 12102, 12103, 12104, 12105, 12106, 12107, 12128, 12129, 12130, 12131, 12132, 12133, 12134, 12155, 12156, 12157, 12158, 12159, 12160, 12161, 12182, 12183, 12184, 12185, 12186, 12187, 12188, 12209, 12210, 12211, 12212, 12213, 12214, 12215, 12236, 12237, 12238, 12239, 12240, 12241, 12242, 12263, 12264, 12265, 12266, 12267, 12268, 12269, 12290, 12291, 12292, 12293, 12294, 12295, 12296, 12317, 12318, 12319, 12320, 12321, 12322, 12323, 12344, 12345, 12346, 12347, 12348, 12349, 12350, 12371, 12372, ...], ('NORTE', 'GLP'): [24032, 24033, 24034, 24035, 24036, 24037, 24038, 24059, 24060, 24061, 24062, 24063, 24064, 24065, 24086, 24087, 24088, 24089, 24090, 24091, 24092, 24113, 24114, 24115, 24116, 24117, 24118, 24119, 24140, 24141, 24142, 24143, 24144, 24145, 24146, 24167, 24168, 24169, 24170, 24171, 24172, 24173, 24194, 24195, 24196, 24197, 24198, 24199, 24200, 24221, 24222, 24223, 24224, 24225, 24226, 24227, 24248, 24249, 24250, 24251, 24252, 24253, 24254, 24275, 24276, 24277, 24278, 24279, 24280, 24281, 24302, 24303, 24304, 24305, 24306, 24307, 24308, 24329, 24330, 24331, 24332, 24333, 24334, 24335, 24356, 24357, 24358, 24359, 24360, 24361, 24362, 24383, 24384, 24385, 24386, 24387, 24388, 24389, 24410, 24411, ...], ('NORTE', 'GNV'): [36940, 37029, 37045, 37076, 37092, 37108, 37124, 37140, 37156, 37172, 37188, 37204, 37220, 37236, 37267, 37283, 37299, 37315, 37331, 37347, 37363, 37379, 37395, 37411, 37427, 37443, 37459, 37475, 37491, 37507, 37524, 37540, 37556, 37572, 37589, 37606, 37622, 37639, 37655, 37671, 37687, 37704, 37721, 37752, 37768, 37783, 37799, 37816, 37833, 37849, 37865, 37882, 37898, 37914, 37931, 37947, 37963, 37979, 37995, 38011, 38027, 38043, 38059, 38075, 38091, 38122, 38169, 38202, 38218, 38235, 38252, 38269, 38302, 38319, 38336, 38369, 38402, 38434, 38466, 39051, 39082, 39099, 39553, 39628, 39644, 40219, 40574, 40634, 40663, 40694, 41442, 42148, 42235, 42350, 42379, 42394, 42423, 42438, 42466, 42537, ...], ('NORTE', 'ÓLEO DIESEL'): [42625, 42626, 42627, 42628, 42629, 42630, 42631, 42652, 42653, 42654, 42655, 42656, 42657, 42658, 42679, 42680, 42681, 42682, 42683, 42684, 42685, 42706, 42707, 42708, 42709, 42710, 42711, 42712, 42733, 42734, 42735, 42736, 42737, 42738, 42739, 42760, 42761, 42762, 42763, 42764, 42765, 42766, 42787, 42788, 42789, 42790, 42791, 42792, 42793, 42814, 42815, 42816, 42817, 42818, 42819, 42820, 42841, 42842, 42843, 42844, 42845, 42846, 42847, 42868, 42869, 42870, 42871, 42872, 42873, 42874, 42895, 42896, 42897, 42898, 42899, 42900, 42901, 42922, 42923, 42924, 42925, 42926, 42927, 42928, 42949, 42950, 42951, 42952, 42953, 42954, 42955, 42976, 42977, 42978, 42979, 42980, 42981, 42982, 43003, 43004, ...], ('NORTE', 'ÓLEO DIESEL S10'): [54705, 54709, 54830, 54837, 54844, 54969, 54978, 54986, 55111, 55113, 55122, 55130, 55257, 55267, 55275, 55399, 55401, 55410, 55418, 55422, 55543, 55545, 55554, 55562, 55566, 55686, 55688, 55697, 55705, 55709, 55829, 55831, 55840, 55848, 55849, 55853, 55975, 55977, 55986, 55994, 55995, 55999, 56121, 56123, 56124, 56133, 56141, 56142, 56146, 56269, 56271, 56272, 56281, 56289, 56290, 56294, 56414, 56416, 56417, 56426, 56434, 56435, 56439, 56559, 56561, 56562, 56571, 56579, 56580, 56584, 56704, 56706, 56707, 56716, 56724, 56725, 56729, 56848, 56850, 56851, 56861, 56869, 56870, 56874, 56996, 56998, 56999, 57009, 57017, 57018, 57022, 57142, 57144, 57145, 57155, 57163, 57164, 57168, 57287, 57289, ...], ('SUDESTE', 'ETANOL HIDRATADO'): [20, 21, 22, 23, 47, 48, 49, 50, 74, 75, 76, 77, 101, 102, 103, 104, 128, 129, 130, 131, 155, 156, 157, 158, 182, 183, 184, 185, 209, 210, 211, 212, 236, 237, 238, 239, 263, 264, 265, 266, 290, 291, 292, 293, 317, 318, 319, 320, 344, 345, 346, 347, 371, 372, 373, 374, 398, 399, 400, 401, 425, 426, 427, 428, 452, 453, 454, 455, 479, 480, 481, 482, 506, 507, 508, 509, 533, 534, 535, 536, 560, 561, 562, 563, 587, 588, 589, 590, 614, 615, 616, 617, 641, 642, 643, 644, 668, 669, 670, 671, ...], ('SUDESTE', 'GASOLINA COMUM'): [12000, 12001, 12002, 12003, 12027, 12028, 12029, 12030, 12054, 12055, 12056, 12057, 12081, 12082, 12083, 12084, 12108, 12109, 12110, 12111, 12135, 12136, 12137, 12138, 12162, 12163, 12164, 12165, 12189, 12190, 12191, 12192, 12216, 12217, 12218, 12219, 12243, 12244, 12245, 12246, 12270, 12271, 12272, 12273, 12297, 12298, 12299, 12300, 12324, 12325, 12326, 12327, 12351, 12352, 12353, 12354, 12378, 12379, 12380, 12381, 12405, 12406, 12407, 12408, 12432, 12433, 12434, 12435, 12459, 12460, 12461, 12462, 12486, 12487, 12488, 12489, 12513, 12514, 12515, 12516, 12540, 12541, 12542, 12543, 12567, 12568, 12569, 12570, 12594, 12595, 12596, 12597, 12621, 12622, 12623, 12624, 12648, 12649, 12650, 12651, ...], ('SUDESTE', 'GLP'): [24039, 24040, 24041, 24042, 24066, 24067, 24068, 24069, 24093, 24094, 24095, 24096, 24120, 24121, 24122, 24123, 24147, 24148, 24149, 24150, 24174, 24175, 24176, 24177, 24201, 24202, 24203, 24204, 24228, 24229, 24230, 24231, 24255, 24256, 24257, 24258, 24282, 24283, 24284, 24285, 24309, 24310, 24311, 24312, 24336, 24337, 24338, 24339, 24363, 24364, 24365, 24366, 24390, 24391, 24392, 24393, 24417, 24418, 24419, 24420, 24444, 24445, 24446, 24447, 24471, 24472, 24473, 24474, 24498, 24499, 24500, 24501, 24525, 24526, 24527, 24528, 24551, 24552, 24553, 24554, 24578, 24579, 24580, 24581, 24605, 24606, 24607, 24608, 24632, 24633, 24634, 24635, 24659, 24660, 24661, 24662, 24686, 24687, 24688, 24689, ...], ('SUDESTE', 'GNV'): [35900, 35901, 35902, 35903, 35915, 35916, 35917, 35918, 35930, 35931, 35932, 35933, 35945, 35946, 35947, 35948, 35960, 35961, 35962, 35963, 35975, 35976, 35977, 35978, 35990, 35991, 35992, 35993, 36005, 36006, 36007, 36008, 36020, 36021, 36022, 36023, 36035, 36036, 36037, 36038, 36050, 36051, 36052, 36053, 36065, 36066, 36067, 36068, 36080, 36081, 36082, 36083, 36095, 36096, 36097, 36098, 36110, 36111, 36112, 36113, 36125, 36126, 36127, 36128, 36140, 36141, 36142, 36143, 36155, 36156, 36157, 36158, 36170, 36171, 36172, 36173, 36185, 36186, 36187, 36188, 36200, 36201, 36202, 36203, 36215, 36216, 36217, 36218, 36230, 36231, 36232, 36233, 36245, 36246, 36247, 36248, 36260, 36261, 36262, 36263, ...], ('SUDESTE', 'ÓLEO DIESEL'): [42632, 42633, 42634, 42635, 42659, 42660, 42661, 42662, 42686, 42687, 42688, 42689, 42713, 42714, 42715, 42716, 42740, 42741, 42742, 42743, 42767, 42768, 42769, 42770, 42794, 42795, 42796, 42797, 42821, 42822, 42823, 42824, 42848, 42849, 42850, 42851, 42875, 42876, 42877, 42878, 42902, 42903, 42904, 42905, 42929, 42930, 42931, 42932, 42956, 42957, 42958, 42959, 42983, 42984, 42985, 42986, 43010, 43011, 43012, 43013, 43037, 43038, 43039, 43040, 43064, 43065, 43066, 43067, 43091, 43092, 43093, 43094, 43118, 43119, 43120, 43121, 43145, 43146, 43147, 43148, 43172, 43173, 43174, 43175, 43199, 43200, 43201, 43202, 43226, 43227, 43228, 43229, 43253, 43254, 43255, 43256, 43280, 43281, 43282, 43283, ...], ('SUDESTE', 'ÓLEO DIESEL S10'): [54704, 54711, 54836, 54841, 54846, 54972, 54977, 54983, 54988, 55116, 55121, 55127, 55132, 55261, 55266, 55272, 55277, 55404, 55409, 55415, 55420, 55548, 55553, 55559, 55564, 55691, 55696, 55702, 55707, 55834, 55839, 55845, 55851, 55980, 55985, 55991, 55997, 56127, 56132, 56138, 56144, 56275, 56280, 56286, 56292, 56420, 56425, 56431, 56437, 56565, 56570, 56576, 56582, 56710, 56715, 56721, 56727, 56855, 56860, 56866, 56872, 57003, 57008, 57014, 57020, 57149, 57154, 57160, 57166, 57294, 57299, 57305, 57311, 57441, 57446, 57452, 57458, 57587, 57592, 57598, 57604, 57733, 57738, 57744, 57750, 57880, 57885, 57891, 57897, 58026, 58031, 58037, 58043, 58173, 58178, 58184, 58190, 58316, 58321, 58327, ...], ('SUL', 'ETANOL HIDRATADO'): [24, 25, 26, 51, 52, 53, 78, 79, 80, 105, 106, 107, 132, 133, 134, 159, 160, 161, 186, 187, 188, 213, 214, 215, 240, 241, 242, 267, 268, 269, 294, 295, 296, 321, 322, 323, 348, 349, 350, 375, 376, 377, 402, 403, 404, 429, 430, 431, 456, 457, 458, 483, 484, 485, 510, 511, 512, 537, 538, 539, 564, 565, 566, 591, 592, 593, 618, 619, 620, 645, 646, 647, 672, 673, 674, 699, 700, 701, 726, 727, 728, 753, 754, 755, 780, 781, 782, 807, 808, 809, 834, 835, 836, 861, 862, 863, 888, 889, 890, 915, ...], ('SUL', 'GASOLINA COMUM'): [12004, 12005, 12006, 12031, 12032, 12033, 12058, 12059, 12060, 12085, 12086, 12087, 12112, 12113, 12114, 12139, 12140, 12141, 12166, 12167, 12168, 12193, 12194, 12195, 12220, 12221, 12222, 12247, 12248, 12249, 12274, 12275, 12276, 12301, 12302, 12303, 12328, 12329, 12330, 12355, 12356, 12357, 12382, 12383, 12384, 12409, 12410, 12411, 12436, 12437, 12438, 12463, 12464, 12465, 12490, 12491, 12492, 12517, 12518, 12519, 12544, 12545, 12546, 12571, 12572, 12573, 12598, 12599, 12600, 12625, 12626, 12627, 12652, 12653, 12654, 12679, 12680, 12681, 12706, 12707, 12708, 12733, 12734, 12735, 12760, 12761, 12762, 12787, 12788, 12789, 12814, 12815, 12816, 12841, 12842, 12843, 12868, 12869, 12870, 12895, ...], ('SUL', 'GLP'): [24043, 24044, 24045, 24070, 24071, 24072, 24097, 24098, 24099, 24124, 24125, 24126, 24151, 24152, 24153, 24178, 24179, 24180, 24205, 24206, 24207, 24232, 24233, 24234, 24259, 24260, 24261, 24286, 24287, 24288, 24313, 24314, 24315, 24340, 24341, 24342, 24367, 24368, 24369, 24394, 24395, 24396, 24421, 24422, 24423, 24448, 24449, 24450, 24475, 24476, 24477, 24502, 24503, 24504, 24529, 24530, 24531, 24555, 24556, 24557, 24582, 24583, 24584, 24609, 24610, 24611, 24636, 24637, 24638, 24663, 24664, 24665, 24690, 24691, 24692, 24716, 24717, 24718, 24743, 24744, 24745, 24770, 24771, 24772, 24797, 24798, 24799, 24824, 24825, 24826, 24851, 24852, 24853, 24878, 24879, 24880, 24905, 24906, 24907, 24932, ...], ('SUL', 'GNV'): [35904, 35905, 35906, 35919, 35920, 35921, 35934, 35935, 35936, 35949, 35950, 35951, 35964, 35965, 35966, 35979, 35980, 35981, 35994, 35995, 35996, 36009, 36010, 36011, 36024, 36025, 36026, 36039, 36040, 36041, 36054, 36055, 36056, 36069, 36070, 36071, 36084, 36085, 36086, 36099, 36100, 36101, 36114, 36115, 36116, 36129, 36130, 36131, 36144, 36145, 36146, 36159, 36160, 36161, 36174, 36175, 36176, 36189, 36190, 36191, 36204, 36205, 36206, 36219, 36220, 36221, 36234, 36235, 36236, 36249, 36250, 36251, 36264, 36265, 36266, 36280, 36281, 36282, 36295, 36296, 36297, 36310, 36311, 36312, 36326, 36327, 36328, 36342, 36343, 36344, 36357, 36358, 36359, 36372, 36373, 36374, 36387, 36388, 36389, 36402, ...], ('SUL', 'ÓLEO DIESEL'): [42636, 42637, 42638, 42663, 42664, 42665, 42690, 42691, 42692, 42717, 42718, 42719, 42744, 42745, 42746, 42771, 42772, 42773, 42798, 42799, 42800, 42825, 42826, 42827, 42852, 42853, 42854, 42879, 42880, 42881, 42906, 42907, 42908, 42933, 42934, 42935, 42960, 42961, 42962, 42987, 42988, 42989, 43014, 43015, 43016, 43041, 43042, 43043, 43068, 43069, 43070, 43095, 43096, 43097, 43122, 43123, 43124, 43149, 43150, 43151, 43176, 43177, 43178, 43203, 43204, 43205, 43230, 43231, 43232, 43257, 43258, 43259, 43284, 43285, 43

In [120]:
RER.mean()

C:\Users\joaod\AppData\Local\Temp\ipykernel_81188\2816657846.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  RER.mean()

                               NÚMERO DE POSTOS PESQUISADOS  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                    155.514414
             GASOLINA COMUM                      155.447352
             GLP                                 202.113944
             GNV                                   3.759150
             ÓLEO DIESEL                         131.940332
             ÓLEO DIESEL S10                      76.054545
NORDESTE     ETANOL HIDRATADO                    154.143770
             GASOLINA COMUM                      174.051678
             GLP                                 127.294072
             GNV                                  17.498068
             ÓLEO DIESEL                         135.536185
             ÓLEO DIESEL S10                      93.857190
NORTE        ETANOL HIDRATADO                     47.731312
             GASOLINA COMUM                       77.837665
             GLP                                  91.767224
             GNV                                   1.378601
             ÓLEO DIESEL                          68.135956
             ÓLEO DIESEL S10                      40.495267
SUDESTE      ETANOL HIDRATADO                   1038.720115
             GASOLINA COMUM                     1051.909236
             GLP                                 757.155881
             GNV                                  81.839493
             ÓLEO DIESEL                         771.300955
             ÓLEO DIESEL S10                     419.743514
SUL          ETANOL HIDRATADO                    454.889928
             GASOLINA COMUM                      495.972387
             GLP                                 487.431498
             GNV                                  21.242759
             ÓLEO DIESEL                         364.170348
             ÓLEO DIESEL S10                     230.283597

                               PREÇO MÉDIO REVENDA  DESVIO PADRÃO REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO             2.135670               0.111992
             GASOLINA COMUM               3.077476               0.104105
             GLP                         48.176747               2.911219
             GNV                          1.856312               0.032635
             ÓLEO DIESEL                  2.481286               0.081540
             ÓLEO DIESEL S10              3.294752               0.108976
NORDESTE     ETANOL HIDRATADO             2.320266               0.115449
             GASOLINA COMUM               3.001887               0.108104
             GLP                         41.966090               2.667713
             GNV                          1.881722               0.061486
             ÓLEO DIESEL                  2.346950               0.069301
             ÓLEO DIESEL S10              3.041966               0.091881
NORTE        ETANOL HIDRATADO             2.511624               0.123097
             GASOLINA COMUM               3.149501               0.140339
             GLP                         47.065572               2.811086
             GNV                          2.084399               0.007749
             ÓLEO DIESEL                  2.571048               0.105590
             ÓLEO DIESEL S10              3.316231               0.127927
SUDESTE      ETANOL HIDRATADO             2.163621               0.134447
             GASOLINA COMUM               3.000565               0.122024
             GLP                         42.081544               3.117192
             GNV                          1.716074               0.130730
             ÓLEO DIESEL                  2.339699               0.082670
             ÓLEO DIESEL S10              3.056194               0.109765
SUL          ETANOL HIDRATADO             2.268156               0.123595
             GASOLINA COMUM               2.972569               0.117779
             GLP                         43.490318               3.408160
             GNV                          1.865612               0.065362
             ÓLEO DIESEL                  2.332293               0.081869
             ÓLEO DIESEL S10              2.981775               0.110249

                               PREÇO MÍNIMO REVENDA  PREÇO MÁXIMO REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO              1.926522              2.433303
             GASOLINA COMUM                2.866732              3.338657
             GLP                          40.936969             55.244748
             GNV                           1.824489              1.885087
             ÓLEO DIESEL                   2.310497              2.686205
             ÓLEO DIESEL S10               3.070625              3.559399
NORDESTE     ETANOL HIDRATADO              2.099488              2.654045
             GASOLINA COMUM                2.780405              3.277436
             GLP                          36.142140             47.701105
             GNV                           1.820660              2.038715
             ÓLEO DIESEL                   2.203687              2.534809
             ÓLEO DIESEL S10               2.851121              3.304049
NORTE        ETANOL HIDRATADO              2.331752              2.849155
             GASOLINA COMUM                2.956946              3.540174
             GLP                          42.185523             54.103233
             GNV                           2.079103              2.091321
             ÓLEO DIESEL                   2.400341              2.831189
             ÓLEO DIESEL S10               3.128494              3.645934
SUDESTE      ETANOL HIDRATADO              1.810669              2.629952
             GASOLINA COMUM                2.698406              3.463277
             GLP                          33.297570             51.319812
             GNV                           1.548030              2.123404
             ÓLEO DIESEL                   2.118881              2.659866
             ÓLEO DIESEL S10               2.765417              3.457892
SUL          ETANOL HIDRATADO              1.947168              2.672393
             GASOLINA COMUM                2.677828              3.340463
             GLP                          34.939095             53.352339
             GNV                           1.779690              2.046901
             ÓLEO DIESEL                   2.124973              2.611223
             ÓLEO DIESEL S10               2.707439              3.366409

                               MARGEM MÉDIA REVENDA  COEF DE VARIAÇÃO REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO              0.334742                  0.055679
             GASOLINA COMUM                0.413081                  0.033634
             GLP                          10.144382                  0.057783
             GNV                           0.467869                  0.016150
             ÓLEO DIESEL                   0.269293                  0.032117
             ÓLEO DIESEL S10               0.375726                  0.032577
NORDESTE     ETANOL HIDRATADO              0.300006                  0.052053
             GASOLINA COMUM                0.400337                  0.036357
             GLP                           9.951840                  0.060451
             GNV                           0.517594                  0.032138
             ÓLEO DIESEL                   0.233981                  0.029401
             ÓLEO DIESEL S10               0.326030                  0.030066
NORTE        ETANOL HIDRATADO              0.362131                  0.050314
             GASOLINA COMUM                0.454351                  0.045172
             GLP                           8.660637                  0.059383
             GNV                           0.371848                  0.003025
             ÓLEO DIESEL                   0.323795                  0.041224
             ÓLEO DIESEL S10               0.417151                  0.038669
SUDESTE      ETANOL HIDRATADO              0.300850                  0.064111
             GASOLINA COMUM                0.361858                  0.041105
             GLP                          10.952603                  0.070829
             GNV                           0.478567                  0.075199
             ÓLEO DIESEL                   0.261930                  0.034798
             ÓLEO DIESEL S10               0.362285                  0.035397
SUL          ETANOL HIDRATADO              0.316748                  0.055945
             GASOLINA COMUM                0.371459                  0.039308
             GLP                          10.484570                  0.075147
             GNV                           0.478205                  0.032599
             ÓLEO DIESEL                   0.276743                  0.034138
             ÓLEO DIESEL S10               0.368439                  0.036409

                               PREÇO MÉDIO DISTRIBUIÇÃO  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                  1.800927
             GASOLINA COMUM                    2.664395
             GLP                              38.032365
             GNV                               1.388443
             ÓLEO DIESEL                       2.211993
             ÓLEO DIESEL S10                   2.919026
NORDESTE     ETANOL HIDRATADO                  2.020260
             GASOLINA COMUM                    2.601550
             GLP                              32.014250
             GNV                               1.364128
             ÓLEO DIESEL                       2.112969
             ÓLEO DIESEL S10                   2.715936
NORTE        ETANOL HIDRATADO                  2.149494
             GASOLINA COMUM                    2.695151
             GLP                              38.404935
             GNV                               1.712551
             ÓLEO DIESEL                       2.247253
             ÓLEO DIESEL S10                   2.899079
SUDESTE      ETANOL HIDRATADO                  1.862771
             GASOLINA COMUM                    2.638708
             GLP                              31.128941
             GNV                               1.237507
             ÓLEO DIESEL                       2.077769
             ÓLEO DIESEL S10                   2.693909
SUL          ETANOL HIDRATADO                  1.951408
             GASOLINA COMUM                    2.601110
             GLP                              33.005748
             GNV                               1.387408
             ÓLEO DIESEL                       2.055550
             ÓLEO DIESEL S10                   2.613336

                               DESVIO PADRÃO DISTRIBUIÇÃO  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                    0.082278
             GASOLINA COMUM                      0.057165
             GLP                                 3.024617
             GNV                                 0.020891
             ÓLEO DIESEL                         0.049874
             ÓLEO DIESEL S10                     0.073233
NORDESTE     ETANOL HIDRATADO                    0.090895
             GASOLINA COMUM                      0.056139
             GLP                                 2.527986
             GNV                                 0.119690
             ÓLEO DIESEL                         0.048033
             ÓLEO DIESEL S10                     0.065408
NORTE        ETANOL HIDRATADO                    0.094058
             GASOLINA COMUM                      0.067774
             GLP                                 1.734085
             GNV                                 0.012959
             ÓLEO DIESEL                         0.060785
             ÓLEO DIESEL S10                     0.082405
SUDESTE      ETANOL HIDRATADO                    0.107642
             GASOLINA COMUM                      0.066199
             GLP                                 2.741245
             GNV                                 0.136902
             ÓLEO DIESEL                         0.051781
             ÓLEO DIESEL S10                     0.078823
SUL          ETANOL HIDRATADO                    0.112108
             GASOLINA COMUM                      0.064611
             GLP                                 3.461267
             GNV                                 0.113510
             ÓLEO DIESEL                         0.053771
             ÓLEO DIESEL S10                     0.081475

                               PREÇO MÍNIMO DISTRIBUIÇÃO  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                   1.629448
             GASOLINA COMUM                     2.553451
             GLP                               32.142998
             GNV                                1.370323
             ÓLEO DIESEL                        2.106889
             ÓLEO DIESEL S10                    2.779236
NORDESTE     ETANOL HIDRATADO                   1.799990
             GASOLINA COMUM                     2.487578
             GLP                               27.493395
             GNV                                1.215388
             ÓLEO DIESEL                        2.017312
             ÓLEO DIESEL S10                    2.594516
NORTE        ETANOL HIDRATADO                   1.983308
             GASOLINA COMUM                     2.582237
             GLP                               34.773738
             GNV                                1.704218
             ÓLEO DIESEL                        2.135717
             ÓLEO DIESEL S10                    2.764806
SUDESTE      ETANOL HIDRATADO                   1.540547
             GASOLINA COMUM                     2.438181
             GLP                               24.089119
             GNV                                1.054692
             ÓLEO DIESEL                        1.931599
             ÓLEO DIESEL S10                    2.489478
SUL          ETANOL HIDRATADO                   1.634512
             GASOLINA COMUM                     2.432431
             GLP                               25.791680
             GNV                                1.233294
             ÓLEO DIESEL                        1.926497
             ÓLEO DIESEL S10                    2.438362

                               PREÇO MÁXIMO DISTRIBUIÇÃO  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                   2.009326
             GASOLINA COMUM                     2.824949
             GLP                               43.451689
             GNV                                1.407466
             ÓLEO DIESEL                        2.323683
             ÓLEO DIESEL S10                    3.040020
NORDESTE     ETANOL HIDRATADO                   2.229782
             GASOLINA COMUM                     2.764345
             GLP                               36.713845
             GNV                                1.522437
             ÓLEO DIESEL                        2.223088
             ÓLEO DIESEL S10                    2.865362
NORTE        ETANOL HIDRATADO                   2.320192
             GASOLINA COMUM                     2.851914
             GLP                               41.960261
             GNV                                1.724462
             ÓLEO DIESEL                        2.366200
             ÓLEO DIESEL S10                    3.047200
SUDESTE      ETANOL HIDRATADO                   2.179384
             GASOLINA COMUM                     2.882938
             GLP                               39.873958
             GNV                                1.487619
             ÓLEO DIESEL                        2.256056
             ÓLEO DIESEL S10                    2.924680
SUL          ETANOL HIDRATADO                   2.240606
             GASOLINA COMUM                     2.826101
             GLP                               42.029554
             GNV                                1.512227
             ÓLEO DIESEL                        2.207007
             ÓLEO DIESEL S10                    2.814347

                               COEF DE VARIAÇÃO DISTRIBUIÇÃO       MÊS  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                       0.049851  6.507047
             GASOLINA COMUM                         0.021549  6.507658
             GLP                                    0.076607  6.490962
             GNV                                    0.014126  6.408501
             ÓLEO DIESEL                            0.021995  6.507658
             ÓLEO DIESEL S10                        0.024829  6.329752
NORDESTE     ETANOL HIDRATADO                       0.046830  6.505819
             GASOLINA COMUM                         0.021565  6.501062
             GLP                                    0.076961  6.517317
             GNV                                    0.098374  6.490340
             ÓLEO DIESEL                            0.022107  6.501062
             ÓLEO DIESEL S10                        0.024048  6.317942
NORTE        ETANOL HIDRATADO                       0.046450  6.511686
             GASOLINA COMUM                         0.025225  6.500183
             GLP                                    0.044272  6.502722
             GNV                                    0.006025  6.485597
             ÓLEO DIESEL                            0.026873  6.498079
             ÓLEO DIESEL S10                        0.028042  6.354131
SUDESTE      ETANOL HIDRATADO                       0.060287  6.501434
             GASOLINA COMUM                         0.024951  6.500637
             GLP                                    0.087555  6.498566
             GNV                                    0.127156  6.478001
             ÓLEO DIESEL                            0.023954  6.500637
             ÓLEO DIESEL S10                        0.028969  6.318013
SUL          ETANOL HIDRATADO                       0.062075  6.501912
             GASOLINA COMUM                         0.024564  6.501274
             GLP                                    0.102631  6.516005
             GNV                                    0.082502  6.420748
             ÓLEO DIESEL                            0.025223  6.501274
             ÓLEO DIESEL S10                        0.030871  6.318182

                                       ANO
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO  2011.434017
             GASOLINA COMUM    2011.430759
             GLP               2011.428341
             GNV               2010.829988
             ÓLEO DIESEL       2011.430759
             ÓLEO DIESEL S10   2015.970248
NORDESTE     ETANOL HIDRATADO  2011.421516
             GASOLINA COMUM    2011.431262
             GLP               2011.185335
             GNV               2011.103168
             ÓLEO DIESEL       2011.430676
             ÓLEO DIESEL S10   2015.759894
NORTE        ETANOL HIDRATADO  2011.228511
             GASOLINA COMUM    2011.438141
             GLP               2011.399850
             GNV               2012.016461
             ÓLEO DIESEL       2011.441537
             ÓLEO DIESEL S10   2015.786145
SUDESTE      ETANOL HIDRATADO  2011.426522
             GASOLINA COMUM    2011.433121
             GLP               2011.435448
             GNV               2011.001760
             ÓLEO DIESEL       2011.433121
             ÓLEO DIESEL S10   2015.762046
SUL          ETANOL HIDRATADO  2011.427539
             GASOLINA COMUM    2011.430331
             GLP               2011.409731
             GNV               2010.783570
             ÓLEO DIESEL       2011.430331
             ÓLEO DIESEL S10   2015.755929

* ```.agg```: agrega(roda) uma serie de funções para os elementos de um dataframe ou de grupos de um dataframe.

In [121]:
df = pd.DataFrame(
    [[1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [None, None, None]], columns = ['A', 'B', 'C'])

df

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [122]:
df.agg(['sum', 'min'])

        A     B     C
sum  12.0  15.0  18.0
min   1.0   2.0   3.0

In [123]:
#Computa o menor e maior valor do 'PREÇO MÉDIO REVENDA' para cada região (grupo)
grupos['PREÇO MÉDIO REVENDA'].agg(['min', 'max'])

                min     max
REGIÃO
CENTRO OESTE  1.097  99.357
NORDESTE      0.975  79.630
NORTE         1.226  87.270
SUDESTE       0.766  79.192
SUL           0.922  72.088

#### Ordenação

In [124]:
notas = pd.DataFrame({
    'nome': ['João', 'Maria', 'José', 'Alice'],
    'idade': [20, 21, 19, 20],
    'nota_final': [5.0, 10.0, 6.0, 10.0]
})
notas

    nome  idade  nota_final
0   João     20         5.0
1  Maria     21        10.0
2   José     19         6.0
3  Alice     20        10.0

* ```sort_values```:Ordena valores ao longo de um eixo.

Por padrão, o método retorna uma cópia dos dados ordenados em ordem crescente (ascendente). Podemos alterar isso pelo argumento ```ascending```.

In [126]:
notas.sort_values(by='nota_final', ascending = False)

    nome  idade  nota_final
1  Maria     21        10.0
3  Alice     20        10.0
2   José     19         6.0
0   João     20         5.0

In [129]:
#Nós também pddemos ordenar a partir de mais de uma coluna.

notas.sort_values(by=['nota_final', 'nome'], ascending = [False, True]).reset_index(drop = True)

    nome  idade  nota_final
0  Alice     20        10.0
1  Maria     21        10.0
2   José     19         6.0
3   João     20         5.0